@use 'general.scss';


main {
  display: flex;
  flex-direction: row;

  .orbit {
    position: relative;
    width: 100%;
    height: 1280px;
    overflow: hidden;


    .sun {
      width: 200px;
      height: 200px;

      border: 2px solid black;
      box-shadow: 0px 0px 5px grey;

      border-radius: 50%;
      position: absolute;

      left: 45%;
      top: 350px;


      .earth {
        width: 60px;
        height: 60px;

        border-radius: 50%;
        border: 1px solid black;
        position: relative;
        left: 300px;
        top: 70px;
        box-shadow: 0px 0px 5px grey;
        transform-origin: -200px;
        animation: earth 5s infinite linear;
      }

      .earth:hover {
        animation-play-state: paused;
      }

      .moon {
        width: 20px;
        height: 20px;

        border-radius: 50%;
        position: relative;
        left: 70px;
        transform-origin: -38px 30px;
        animation: earth 2s infinite linear;
        box-shadow: 0px 0px 5px black;
      }

      .moon:hover {
        animation-play-state: paused;
      }

      .mercury {
        width: 40px;
        height: 40px;

        border-radius: 50%;
        position: relative;
        left: 230px;
        top: 20px;
        box-shadow: 0px 0px 5px grey;
        transform-origin: -135px;
        animation: earth 1.5s infinite linear;
      }

      .mercury:hover {
        animation-play-state: paused;
      }

      .mars {
        width: 50px;
        height: 50px;

        border-radius: 50%;
        position: relative;

        left: 50 + 400px;
        top: -25px;

        box-shadow: 0px 0px 5px grey;
        transform-origin: -320px;
        animation: earth 4s infinite linear;
      }

      .mars:hover {
        animation-play-state: paused;
      }

      .jupiter {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        position: relative;
        left: 700px;
        top: -100px;
        box-shadow: 0px 0px 5px grey;
        transform-origin: -420px;
        animation: earth 7s infinite linear;

      }

      .jupiter:hover {
        animation-play-state: paused;
      }

      .saturn {
        width: 80px;
        height: 80px;
        background: center;
        border-radius: 50%;
        position: relative;
        left: 1000px;
        top: -190px;
        box-shadow: 0px 0px 5px 1px grey;
        transform-origin: -600px;
        animation: earth 6s infinite linear;


      }

      .saturn:hover {
        animation-play-state: paused;
      }

      .kol {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        position: relative;
        left: -14.5px;
        top: -14.5px;
        border: 2px solid black;
        box-shadow: 0px 0px 5px grey;
      }

      .titan {
        width: 15px;
        height: 15px;
        background: white;
        border-radius: 50%;
        position: relative;
        left: 120px;
        top: 0px;
        transform-origin: 0 85px;
        animation: earth 2s infinite linear;
        box-shadow: 0px 0px 5px grey;
        border: 2px solid black;
      }

      .yapet {
        width: 10px;
        height: 10px;
        background: white;
        border-radius: 50%;
        position: relative;
        left: 130px;
        top: 40px;
        transform-origin: 0 100px;
        border: 2px solid black;
        animation: earth 1s infinite linear;
      }


      @keyframes earth {
        100% {
          transform: rotate(-360deg);

        }
      }
    }
  }
}


.spotlight {
  display: flex;
  position: fixed;
}

.team {
  display: flex;
  position: fixed;

}

