@use 'general.scss';


@mixin multipleOccurrences() {
  border: 1px solid grey;
  box-shadow: 0 0 5px 0 grey;
  border-radius: 50%;
}


main {
  display: flex;
  flex-direction: row;

  .orbit {
    position: relative;
    overflow: hidden;
    height: 1280px;
    width: 100%;


    .sun {
      width: 200px;
      height: 200px;
      position: absolute;

      @include multipleOccurrences();


      left: 45%;
      top: 350px;


      .earth {
        width: 60px;
        height: 60px;


        position: relative;
        left: 300px;
        top: 70px;



        @include multipleOccurrences();


        transform-origin: -200px;
        animation: rotation 10s infinite linear;
      }


      .moon {
        width: 20px;
        height: 20px;

        position: relative;
        left: 70px;
        transform-origin: -38px 30px;
        animation: rotation 6s infinite linear;


        @include multipleOccurrences();

      }



      .mercury {
        width: 40px;
        height: 40px;


        position: relative;
        left: 230px;
        top: 20px;

        transform-origin: -130px;
        animation: rotation 13s infinite linear;

        @include multipleOccurrences();
      }



      .mars {
        width: 50px;
        height: 50px;


        position: relative;

        left: 50 + 400px;
        top: -25px;

        @include multipleOccurrences();
        transform-origin: -320px;
        animation: rotation 5s infinite linear;
      }


      .jupiter {
        width: 100px;
        height: 100px;


        position: relative;
        left: 700px;
        top: -100px;

        transform-origin: -700px;
        animation: rotation 31s infinite linear;

        @include multipleOccurrences();
      }



      .saturn {
        width: 80px;
        height: 80px;

        position: relative;
        left: 850px;
        top: -190px;
        @include multipleOccurrences();
        transform-origin: -850px;
        animation: rotation 42s infinite linear;


      }


      .kol {
        width: 110px;
        height: 110px;

        position: relative;
        left: -14.5px;
        top: -14.5px;
        @include multipleOccurrences();
      }

      .titan {
        width: 15px;
        height: 15px;
        background: white;

        position: relative;
        left: 120px;
        top: 0px;
        transform-origin: 0 85px;
        animation: rotation 3s infinite linear;
        @include multipleOccurrences();
      }

      .yapet {
        width: 10px;
        height: 10px;
        background: white;

        position: relative;
        left: 130px;
        top: 40px;
        transform-origin: 0 100px;

        animation: rotation 4s infinite linear;

        @include multipleOccurrences();
      }

      & > *:hover {
        animation-play-state: paused;
      }


      @keyframes rotation {
        100% {
          transform: rotate(-360deg);
        }
      }
    }
  }
}


.spotlight {
  display: flex;
  position: fixed;
}

.team {
  display: flex;
  position: fixed;

}

