@use 'general.scss';


@mixin multipleOccurrences() {
  border: 1px solid grey;
  box-shadow: 0 0 5px 0 grey;
  border-radius: 50%;
}


main {
  display: flex;
  flex-direction: row;

  .orbit {
    overflow: hidden;
    height: 1280px; width: 100%;
    border: 1px solid red;

    .point {
      position: relative;
      left: 50%; top: 50%;
      width: 0px; height: 0px;
      border: 1px solid red;


      .sun {
        position: absolute;
        width: 200px; height: 200px;
        left: -100px; top: -100px;

        box-shadow: 0 0 25px 0 orange !important;
        @include multipleOccurrences();
      }

      .earth {
        position: absolute;
        width: 60px; height: 60px;
        left: -320px; top: -30px; // left & origin SAME; top half width

        transform-origin: 320px center;
        animation: rotation 10s infinite linear;

        box-shadow: 0 0 15px 0 lightblue !important;
        @include multipleOccurrences();

        .moon {
          position: relative;
          width: 20px; height: 20px;
          left: -30px; top: -30px;

          transform-origin: 60px 60px;
          animation: rotation 10s infinite linear;

          box-shadow: 0 0 10px 0 grey !important;
          @include multipleOccurrences();
        }
      }

      .mercury {
        position: absolute;
        width: 40px; height: 40px;
        left: 200px; top: -20px;

        transform-origin: -200px center;
        animation: rotation 20s infinite linear;

        @include multipleOccurrences();
      }

      .mars {
        position: absolute;
        width: 50px; height: 50px;
        left: 400px; top: -25px;

        transform-origin: -400px center;
        animation: rotation 18s infinite linear;

        @include multipleOccurrences();
      }


      .jupiter {
        position: absolute;
        width: 100px; height: 100px;
        left: 700px; top: -50px;

        transform-origin: -700px center;
        animation: rotation 31s infinite linear;

        @include multipleOccurrences();
      }

      .saturn {
        position: absolute;
        width: 80px; height: 80px;
        left: 750px; top: -40px;

        transform-origin: -750px center;
        animation: rotation 42s infinite linear;

        @include multipleOccurrences();

        .yapet {
          position: relative;
          width: 10px; height: 10px;
          left: -75px; top: -75px;

          transform-origin: 85px 85px;
          animation: rotation 4s infinite linear;

          @include multipleOccurrences();
        }

        .titan {
          position: relative;
          width: 15px; height: 15px;
          left: 40px; top: -7.5px; // Minus half of parent

          transform-origin: -80px center; // Parent width/ height
          animation: rotation 3s infinite linear;

          @include multipleOccurrences();
        }

        .kol {
          position: relative;
          width: 100px; height: 100px;
          left: -11px; top: -11px;

          transform-origin: center center;

          @include multipleOccurrences();
        }
      }

      & > *:hover {
        animation-play-state: paused;
      }

      @keyframes rotation {
        100% {
          transform: rotate(-360deg);
        }
      }
    }
  }
}


// Copyright (c) 2023 by Giorgio Federici (https://codepen.io/giorgiofederici/pen/xgzEvW)
@function generate-random-stars ($screen-width, $color, $density) {

  $h-shadow: random($screen-width);
  $v-shadow: random($screen-width);

  $stars: '#{$h-shadow}px #{$v-shadow}px #{$color}';
  @for $i from 2 through $density {
    $h-shadow: random($screen-width);
    $v-shadow: random($screen-width);

    $stars: '#{$stars}, #{$h-shadow}px #{$v-shadow}px #{$color}';
  }
  @return unquote($stars);
}

@mixin stars-content($screen-width, $color, $density, $speed, $delay) {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: generate-random-stars($screen-width, $color, $density);
  animation-name: glowing-stars;
  animation-duration: $speed+s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: $delay+s;
}


#stars-group-1 {
  @include stars-content(1800, rgb(255, 255, 255), 200, 1, 0.3);
}

#stars-group-2 {
  @include stars-content(1800, rgb(255, 255, 255), 200, 1, 0.5);
}

#stars-group-3 {
  @include stars-content(1800, rgb(255, 255, 255), 200, 1, 0.8);
}

#stars-group-4 {
  @include stars-content(1800, rgb(63, 63, 63), 200, 1, 1.0);
}

#stars-group-5 {
  @include stars-content(1800, rgb(65, 65, 65), 200, 1, 1.2);
}

#stars-group-6 {
  @include stars-content(1800, rgb(0, 0, 0), 200, 1, 1.5);
}


@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}

