
nav {
  position: fixed; top: 0; width: 100%; height: 70px;
  background-color: var(--ff-secondaryColor);
  box-shadow: 2px 2px 0 2px var(--ff-tertiaryColor);

  ul {
    display: inline-flex;
    justify-content: space-around;

    list-style: none;
    text-align: center;

    width: 100%;
    height: 100%;

    li {
      width: 100%;

      &:active, &:hover {
        background-color: var(--ff-tertiaryColor);
        a { color: var(--ff-secondaryColor);}
        padding: 0 1rem;
      }

      a {
        display: flex;
        margin: auto;

        align-items:center;
        justify-content:center;

        width: 100%;
        height: 100%;

        text-decoration: none;
        color: var(--ff-tertiaryColor);
      }
    }
  }
}

