*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  transition-duration: 300ms;
}

:root {
  scroll-behavior: smooth;
  vertical-align: baseline;
  background-color: #1a1a1a;
  /* font for landing page main/second. heading */
  --ff-mainHeading: "Poppins", sans-serif;
  --ff-subHeading: "Sathu", sans-serif;
  /* main font family */
  font-family: "Times New Roman", sans-serif;
  font-size: 1.2rem;
  /* clamp resizes according to window size */
  --fs-mainHeading: clamp(1.5rem, 7vw, 7rem);
  --fs-subHeading: clamp(1rem, 3vw, 4rem);
  /* three colors for the website */
  /* https://color.adobe.com/create/color-wheel */
  --ff-mainColor: #000000;
  --ff-secondaryColor: #dedede;
  --ff-tertiaryColor: #c4c4c4;
  /*

  --ff-mainColor: #ffffff;
  --ff-secondaryColor: #2f2f2f;
  --ff-tertiaryColor: #c4c4c4;



   */
}

/* --<>-- --<>-- --<>-- --<>-- --<>-- --<>-- */
/* to use @mixing functions type */
/* @include NAMEofFunction(parameter if necessary); */
.footer {
  background-color: #26272b;
  padding: 15px 10px 15px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.footer hr.small {
  margin: 20px 0;
}
.footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.footer a {
  color: #737373;
}
.footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer a:active, .footer a:focus {
  color: #3366cc;
  text-decoration: none;
}
.footer .footer-links {
  padding-left: 0;
  list-style: none;
}
.footer .footer-links li {
  display: block;
}
.footer .footer-links a {
  color: #737373;
}
.footer .footer-links a:active, .footer .footer-links a:focus, .footer .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer .footer-links.inline li {
  display: inline-block;
}
.footer .social-icons {
  text-align: right;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.footer .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.footer .social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.footer .social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer .social-icons a:active, .footer .social-icons a:focus, .footer .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.footer .social-icons a.facebook:hover {
  background-color: #3b5998;
}
.footer .social-icons a.twitter:hover {
  background-color: #00aced;
}
.footer .social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.footer .social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
.footer .social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.footer.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 991px) {
  .footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-bottom: 0;
  }
  .footer .copyright-text,
  .footer .social-icons {
    text-align: center;
  }
  .footer .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/*# sourceMappingURL=footer.css.map */
