*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  transition-duration: 300ms;
}

:root {
  scroll-behavior: smooth;
  vertical-align: baseline;
  background-color: #1a1a1a;
  /* font for landing page main/second. heading */
  --ff-mainHeading: "Poppins", sans-serif;
  --ff-subHeading: "Sathu", sans-serif;
  /* main font family */
  font-family: "Times New Roman", sans-serif;
  font-size: 1.2rem;
  /* clamp resizes according to window size */
  --fs-mainHeading: clamp(1.5rem, 7vw, 7rem);
  --fs-subHeading: clamp(1rem, 3vw, 4rem);
  /* three colors for the website */
  /* https://color.adobe.com/create/color-wheel */
  --ff-mainColor: #000000;
  --ff-secondaryColor: #dedede;
  --ff-tertiaryColor: #c4c4c4;
  /*

  --ff-mainColor: #ffffff;
  --ff-secondaryColor: #2f2f2f;
  --ff-tertiaryColor: #c4c4c4;



   */
}

/* --<>-- --<>-- --<>-- --<>-- --<>-- --<>-- */
/* to use @mixing functions type */
/* @include NAMEofFunction(parameter if necessary); */
main {
  display: flex;
  flex-direction: column;
}
main .orbit {
  height: 1280px;
  width: 100%;
  border: 1px solid transparent;
}
main .orbit .point {
  position: relative;
  left: 50%;
  top: 50%;
  width: 0px;
  height: 0px;
  border: 1px solid transparent;
}
main .orbit .point .slogan1 {
  position: absolute;
  width: 400px;
  left: -500px;
  top: -1rem;
  font-size: 2rem;
  color: var(--ff-tertiaryColor);
  font-family: "Roboto", sans-serif;
}
main .orbit .point .slogan2 {
  position: absolute;
  width: 600px;
  left: 150px;
  top: -1rem;
  font-size: 2rem;
  color: var(--ff-tertiaryColor);
  font-family: "Roboto", sans-serif;
}
main .orbit .point .sun {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -100px;
  top: -100px;
  box-shadow: 0 0 25px 0 orange !important;
  border-radius: 50%;
}
main .orbit .point .earth {
  position: absolute;
  width: 60px;
  height: 60px;
  left: -320px;
  top: -30px;
  transform-origin: 320px center;
  animation: rotation 20s infinite linear;
  box-shadow: 0 0 2px 0.2px blue !important;
  border-radius: 50%;
}
main .orbit .point .earth .moon {
  position: relative;
  width: 20px;
  height: 20px;
  left: -30px;
  top: -30px;
  transform-origin: 60px 60px;
  animation: rotation 20s infinite linear;
  box-shadow: 0 0 10px 0 grey !important;
  border-radius: 50%;
}
main .orbit .point .earth .sph1 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: -6px;
  top: -6px;
  transform-origin: center center;
  border-radius: 50%;
  border: 1px dashed rgb(154, 154, 154) !important;
}
main .orbit .point .earth .sph2 {
  position: absolute;
  width: 85px;
  height: 85px;
  left: -13.5px;
  top: -13.5px;
  transform-origin: center center;
  border-radius: 50%;
  border: 1px dashed rgb(154, 154, 154) !important;
}
main .orbit .point .earth .sph3 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -20px;
  top: -20px;
  transform-origin: center center;
  border-radius: 50%;
  border: 1px dashed rgb(154, 154, 154) !important;
}
main .orbit .point .mercury {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 200px;
  top: -20px;
  transform-origin: -200px center;
  animation: rotation 40s infinite linear;
  border-radius: 50%;
}
main .orbit .point .mars {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 400px;
  top: -25px;
  transform-origin: -400px center;
  animation: rotation 36s infinite linear;
  border-radius: 50%;
}
main .orbit .point .jupiter {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 700px;
  top: -50px;
  transform-origin: -700px center;
  animation: rotation 62s infinite linear;
  border-radius: 50%;
}
main .orbit .point .saturn {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 850px;
  top: -40px;
  transform-origin: -850px center;
  animation: rotation 84s infinite linear;
  border-radius: 50%;
}
main .orbit .point .saturn .yapet {
  position: relative;
  width: 10px;
  height: 10px;
  left: -75px;
  top: -75px;
  transform-origin: 85px 85px;
  animation: rotation 10s infinite linear;
  border-radius: 50%;
}
main .orbit .point .saturn .titan {
  position: relative;
  width: 15px;
  height: 15px;
  left: 40px;
  top: -7.5px;
  transform-origin: -80px center;
  animation: rotation 8s infinite linear;
  border-radius: 50%;
}
main .orbit .point .saturn .kol {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -11px;
  top: -11px;
  transform-origin: center center;
  border-radius: 50%;
}
main .orbit .point > *:hover {
  animation-play-state: paused;
}
@keyframes rotation {
  /*
  0% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateZ(-360deg) rotateX(-360deg) rotateY(-360deg);
  }
  /*
  0% {
    transform: rotateY(0turn) translate(2.75 * 5em) rotateX(-135deg) translate(2.75 * 2em) rotateZ(-135deg);
  }
  100% {
    transform: rotateY(1turn) translate(2.75 * 5em) rotateX(585deg) translate(2.75 * 2em) rotateZ(-135deg);
  }

   */
  100% {
    transform: rotate(-360deg);
  }
}

.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
  height: 200px;
  @import url(https://fonts.googleapis.com/css?family=Varela+Round);
}
.timeline .li {
  transition: all 200ms ease-in;
}
.timeline .li.complete .status {
  border-top: 2px solid #6e5c5c;
}
.timeline .li.complete .status:before {
  background-color: #6e5c5c;
  border: none;
  transition: all 200ms ease-in;
}
.timeline .li.complete .status h4 {
  color: white;
  padding-top: 20px;
}
.timeline .timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  color: white;
}
.timeline .status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.timeline .status h4 {
  padding-top: 20px;
  font-weight: 600;
  color: white;
}
.timeline .status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}
@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }
  .timeline .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
  .timeline .timestamp {
    width: 100px;
  }
  .timeline .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}
.timeline html, .timeline body {
  background: #333 url("https://codepen.io/images/classy_fabric.png");
}
.timeline .slides {
  padding: 0;
  width: 609px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.timeline .slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.timeline .slides input {
  display: none;
}
.timeline .slides .slide-container {
  display: block;
}
.timeline .slides .slide {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all 0.7s ease-in-out;
}
.timeline .slides .slide img {
  width: 100%;
  height: 100%;
}
.timeline .slides .nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity 0.2s;
  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.timeline .slides .nav .next {
  right: 0;
}
.timeline .slides .nav .slide:hover + label {
  opacity: 0.5;
}
.timeline .slides .nav label:hover {
  opacity: 1;
}
.timeline .slides .nav input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
.timeline .slides .nav input:checked + .slide-container .nav label {
  display: block;
}
.timeline .slides .nav .nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}
.timeline .slides .nav .nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}
.timeline .slides .nav .nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
.timeline .slides .nav .nav-dots input#img-1:checked ~ label#img-dot-1,
.timeline .slides .nav .nav-dots input#img-2:checked ~ label#img-dot-2 {
  background: rgba(0, 0, 0, 0.8);
}

#stars-group-1 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 625px 551px rgb(255, 255, 255), 1765px 700px rgb(255, 255, 255), 116px 773px rgb(255, 255, 255), 924px 952px rgb(255, 255, 255), 430px 1080px rgb(255, 255, 255), 932px 151px rgb(255, 255, 255), 1213px 827px rgb(255, 255, 255), 627px 1179px rgb(255, 255, 255), 324px 1062px rgb(255, 255, 255), 1413px 1305px rgb(255, 255, 255), 1111px 263px rgb(255, 255, 255), 1121px 1638px rgb(255, 255, 255), 513px 342px rgb(255, 255, 255), 1388px 455px rgb(255, 255, 255), 1421px 1167px rgb(255, 255, 255), 933px 651px rgb(255, 255, 255), 791px 643px rgb(255, 255, 255), 423px 549px rgb(255, 255, 255), 921px 937px rgb(255, 255, 255), 1228px 1677px rgb(255, 255, 255), 265px 1682px rgb(255, 255, 255), 880px 1162px rgb(255, 255, 255), 657px 1598px rgb(255, 255, 255), 287px 1028px rgb(255, 255, 255), 737px 1783px rgb(255, 255, 255), 452px 1198px rgb(255, 255, 255), 200px 495px rgb(255, 255, 255), 1043px 1332px rgb(255, 255, 255), 301px 567px rgb(255, 255, 255), 1139px 1565px rgb(255, 255, 255), 1782px 1466px rgb(255, 255, 255), 1707px 1779px rgb(255, 255, 255), 1772px 746px rgb(255, 255, 255), 1219px 762px rgb(255, 255, 255), 22px 1393px rgb(255, 255, 255), 1669px 882px rgb(255, 255, 255), 749px 1405px rgb(255, 255, 255), 1453px 624px rgb(255, 255, 255), 531px 586px rgb(255, 255, 255), 1773px 670px rgb(255, 255, 255), 518px 567px rgb(255, 255, 255), 330px 615px rgb(255, 255, 255), 1121px 175px rgb(255, 255, 255), 932px 1335px rgb(255, 255, 255), 549px 1093px rgb(255, 255, 255), 870px 1405px rgb(255, 255, 255), 729px 1151px rgb(255, 255, 255), 47px 941px rgb(255, 255, 255), 727px 146px rgb(255, 255, 255), 1345px 1039px rgb(255, 255, 255), 387px 202px rgb(255, 255, 255), 762px 1208px rgb(255, 255, 255), 1307px 970px rgb(255, 255, 255), 1406px 387px rgb(255, 255, 255), 162px 830px rgb(255, 255, 255), 857px 19px rgb(255, 255, 255), 11px 1267px rgb(255, 255, 255), 642px 1236px rgb(255, 255, 255), 1020px 1334px rgb(255, 255, 255), 725px 901px rgb(255, 255, 255), 1069px 1448px rgb(255, 255, 255), 1624px 823px rgb(255, 255, 255), 1619px 937px rgb(255, 255, 255), 1569px 1471px rgb(255, 255, 255), 1044px 825px rgb(255, 255, 255), 1194px 1493px rgb(255, 255, 255), 48px 117px rgb(255, 255, 255), 911px 706px rgb(255, 255, 255), 914px 504px rgb(255, 255, 255), 1642px 1113px rgb(255, 255, 255), 1037px 525px rgb(255, 255, 255), 1729px 1141px rgb(255, 255, 255), 418px 1636px rgb(255, 255, 255), 1412px 513px rgb(255, 255, 255), 265px 897px rgb(255, 255, 255), 702px 971px rgb(255, 255, 255), 1546px 1340px rgb(255, 255, 255), 1344px 1745px rgb(255, 255, 255), 759px 937px rgb(255, 255, 255), 1205px 1793px rgb(255, 255, 255), 1546px 400px rgb(255, 255, 255), 1544px 1296px rgb(255, 255, 255), 1511px 121px rgb(255, 255, 255), 14px 1663px rgb(255, 255, 255), 841px 989px rgb(255, 255, 255), 344px 1533px rgb(255, 255, 255), 1478px 578px rgb(255, 255, 255), 459px 642px rgb(255, 255, 255), 831px 2px rgb(255, 255, 255), 9px 78px rgb(255, 255, 255), 890px 562px rgb(255, 255, 255), 1705px 427px rgb(255, 255, 255), 632px 1280px rgb(255, 255, 255), 1458px 201px rgb(255, 255, 255), 637px 107px rgb(255, 255, 255), 199px 1629px rgb(255, 255, 255), 636px 93px rgb(255, 255, 255), 1246px 287px rgb(255, 255, 255), 694px 1085px rgb(255, 255, 255), 464px 1543px rgb(255, 255, 255), 948px 1611px rgb(255, 255, 255), 95px 258px rgb(255, 255, 255), 580px 1792px rgb(255, 255, 255), 694px 815px rgb(255, 255, 255), 533px 526px rgb(255, 255, 255), 1738px 258px rgb(255, 255, 255), 1707px 54px rgb(255, 255, 255), 1387px 1521px rgb(255, 255, 255), 1414px 928px rgb(255, 255, 255), 570px 400px rgb(255, 255, 255), 1109px 269px rgb(255, 255, 255), 215px 427px rgb(255, 255, 255), 422px 452px rgb(255, 255, 255), 1321px 708px rgb(255, 255, 255), 1006px 1340px rgb(255, 255, 255), 1747px 443px rgb(255, 255, 255), 1316px 1228px rgb(255, 255, 255), 553px 638px rgb(255, 255, 255), 1778px 557px rgb(255, 255, 255), 1230px 1652px rgb(255, 255, 255), 593px 854px rgb(255, 255, 255), 509px 1319px rgb(255, 255, 255), 1530px 753px rgb(255, 255, 255), 927px 1545px rgb(255, 255, 255), 64px 1407px rgb(255, 255, 255), 487px 381px rgb(255, 255, 255), 1304px 179px rgb(255, 255, 255), 1751px 1730px rgb(255, 255, 255), 180px 923px rgb(255, 255, 255), 1451px 457px rgb(255, 255, 255), 779px 1299px rgb(255, 255, 255), 1088px 1041px rgb(255, 255, 255), 326px 1297px rgb(255, 255, 255), 385px 514px rgb(255, 255, 255), 1138px 618px rgb(255, 255, 255), 979px 1492px rgb(255, 255, 255), 880px 375px rgb(255, 255, 255), 1536px 634px rgb(255, 255, 255), 1732px 1014px rgb(255, 255, 255), 275px 256px rgb(255, 255, 255), 1700px 426px rgb(255, 255, 255), 552px 903px rgb(255, 255, 255), 1634px 380px rgb(255, 255, 255), 443px 308px rgb(255, 255, 255), 1708px 1721px rgb(255, 255, 255), 1573px 449px rgb(255, 255, 255), 837px 460px rgb(255, 255, 255), 1777px 873px rgb(255, 255, 255), 1524px 1736px rgb(255, 255, 255), 1209px 686px rgb(255, 255, 255), 239px 270px rgb(255, 255, 255), 1086px 513px rgb(255, 255, 255), 289px 1199px rgb(255, 255, 255), 983px 742px rgb(255, 255, 255), 264px 656px rgb(255, 255, 255), 1553px 1453px rgb(255, 255, 255), 1778px 38px rgb(255, 255, 255), 775px 754px rgb(255, 255, 255), 85px 336px rgb(255, 255, 255), 314px 317px rgb(255, 255, 255), 1040px 1749px rgb(255, 255, 255), 1357px 967px rgb(255, 255, 255), 1341px 1481px rgb(255, 255, 255), 960px 234px rgb(255, 255, 255), 334px 726px rgb(255, 255, 255), 819px 614px rgb(255, 255, 255), 1518px 897px rgb(255, 255, 255), 246px 990px rgb(255, 255, 255), 605px 229px rgb(255, 255, 255), 1141px 123px rgb(255, 255, 255), 1621px 97px rgb(255, 255, 255), 275px 782px rgb(255, 255, 255), 1741px 730px rgb(255, 255, 255), 379px 162px rgb(255, 255, 255), 370px 1061px rgb(255, 255, 255), 638px 1379px rgb(255, 255, 255), 1547px 294px rgb(255, 255, 255), 207px 721px rgb(255, 255, 255), 685px 10px rgb(255, 255, 255), 1170px 694px rgb(255, 255, 255), 928px 551px rgb(255, 255, 255), 3px 514px rgb(255, 255, 255), 147px 1417px rgb(255, 255, 255), 1008px 968px rgb(255, 255, 255), 420px 836px rgb(255, 255, 255), 291px 20px rgb(255, 255, 255), 148px 994px rgb(255, 255, 255), 1533px 1198px rgb(255, 255, 255), 1354px 1268px rgb(255, 255, 255), 477px 985px rgb(255, 255, 255), 1653px 92px rgb(255, 255, 255), 1526px 722px rgb(255, 255, 255), 1461px 648px rgb(255, 255, 255), 93px 784px rgb(255, 255, 255), 928px 306px rgb(255, 255, 255), 1056px 1697px rgb(255, 255, 255), 344px 918px rgb(255, 255, 255), 669px 68px rgb(255, 255, 255), 800px 946px rgb(255, 255, 255), 1365px 966px rgb(255, 255, 255);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.3s;
}

#stars-group-2 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 1325px 942px rgb(154, 154, 154), 305px 446px rgb(154, 154, 154), 1407px 1324px rgb(154, 154, 154), 542px 1524px rgb(154, 154, 154), 1652px 849px rgb(154, 154, 154), 586px 1275px rgb(154, 154, 154), 1685px 1188px rgb(154, 154, 154), 737px 856px rgb(154, 154, 154), 300px 362px rgb(154, 154, 154), 307px 303px rgb(154, 154, 154), 929px 879px rgb(154, 154, 154), 1445px 1795px rgb(154, 154, 154), 647px 1021px rgb(154, 154, 154), 143px 168px rgb(154, 154, 154), 1419px 1248px rgb(154, 154, 154), 1559px 156px rgb(154, 154, 154), 1419px 1588px rgb(154, 154, 154), 1692px 405px rgb(154, 154, 154), 119px 1215px rgb(154, 154, 154), 1033px 838px rgb(154, 154, 154), 1787px 411px rgb(154, 154, 154), 1252px 366px rgb(154, 154, 154), 610px 573px rgb(154, 154, 154), 755px 596px rgb(154, 154, 154), 1692px 917px rgb(154, 154, 154), 1272px 1256px rgb(154, 154, 154), 1748px 1505px rgb(154, 154, 154), 51px 24px rgb(154, 154, 154), 1339px 928px rgb(154, 154, 154), 187px 93px rgb(154, 154, 154), 291px 248px rgb(154, 154, 154), 118px 1376px rgb(154, 154, 154), 1698px 1182px rgb(154, 154, 154), 234px 1431px rgb(154, 154, 154), 1529px 609px rgb(154, 154, 154), 829px 1163px rgb(154, 154, 154), 231px 1795px rgb(154, 154, 154), 1717px 895px rgb(154, 154, 154), 1483px 1635px rgb(154, 154, 154), 94px 805px rgb(154, 154, 154), 28px 1335px rgb(154, 154, 154), 886px 717px rgb(154, 154, 154), 1384px 780px rgb(154, 154, 154), 1413px 15px rgb(154, 154, 154), 1473px 1760px rgb(154, 154, 154), 1706px 8px rgb(154, 154, 154), 1091px 21px rgb(154, 154, 154), 1320px 1401px rgb(154, 154, 154), 305px 1119px rgb(154, 154, 154), 1311px 593px rgb(154, 154, 154), 340px 502px rgb(154, 154, 154), 524px 496px rgb(154, 154, 154), 1382px 559px rgb(154, 154, 154), 15px 521px rgb(154, 154, 154), 486px 1672px rgb(154, 154, 154), 764px 1190px rgb(154, 154, 154), 657px 598px rgb(154, 154, 154), 598px 343px rgb(154, 154, 154), 909px 664px rgb(154, 154, 154), 380px 447px rgb(154, 154, 154), 333px 1399px rgb(154, 154, 154), 32px 936px rgb(154, 154, 154), 60px 1752px rgb(154, 154, 154), 1576px 1268px rgb(154, 154, 154), 971px 1787px rgb(154, 154, 154), 482px 1396px rgb(154, 154, 154), 396px 398px rgb(154, 154, 154), 409px 81px rgb(154, 154, 154), 1268px 847px rgb(154, 154, 154), 344px 53px rgb(154, 154, 154), 1717px 18px rgb(154, 154, 154), 1472px 254px rgb(154, 154, 154), 228px 544px rgb(154, 154, 154), 2px 851px rgb(154, 154, 154), 1683px 1044px rgb(154, 154, 154), 1100px 1276px rgb(154, 154, 154), 747px 599px rgb(154, 154, 154), 77px 992px rgb(154, 154, 154), 982px 1762px rgb(154, 154, 154), 1225px 1474px rgb(154, 154, 154), 1599px 50px rgb(154, 154, 154), 73px 1124px rgb(154, 154, 154), 926px 842px rgb(154, 154, 154), 381px 984px rgb(154, 154, 154), 783px 280px rgb(154, 154, 154), 503px 1206px rgb(154, 154, 154), 357px 922px rgb(154, 154, 154), 1502px 1390px rgb(154, 154, 154), 525px 510px rgb(154, 154, 154), 381px 116px rgb(154, 154, 154), 1744px 309px rgb(154, 154, 154), 232px 234px rgb(154, 154, 154), 838px 356px rgb(154, 154, 154), 254px 1213px rgb(154, 154, 154), 515px 630px rgb(154, 154, 154), 1331px 1373px rgb(154, 154, 154), 611px 265px rgb(154, 154, 154), 893px 1474px rgb(154, 154, 154), 1626px 1729px rgb(154, 154, 154), 462px 1203px rgb(154, 154, 154), 1723px 1653px rgb(154, 154, 154), 137px 23px rgb(154, 154, 154), 468px 48px rgb(154, 154, 154), 1616px 404px rgb(154, 154, 154), 1417px 687px rgb(154, 154, 154), 1575px 1768px rgb(154, 154, 154), 274px 550px rgb(154, 154, 154), 420px 1120px rgb(154, 154, 154), 653px 891px rgb(154, 154, 154), 251px 45px rgb(154, 154, 154), 1379px 1098px rgb(154, 154, 154), 1647px 194px rgb(154, 154, 154), 144px 1783px rgb(154, 154, 154), 407px 803px rgb(154, 154, 154), 842px 164px rgb(154, 154, 154), 1090px 1035px rgb(154, 154, 154), 41px 1552px rgb(154, 154, 154), 611px 461px rgb(154, 154, 154), 872px 1798px rgb(154, 154, 154), 1653px 310px rgb(154, 154, 154), 1104px 1204px rgb(154, 154, 154), 997px 1106px rgb(154, 154, 154), 1564px 1595px rgb(154, 154, 154), 1496px 597px rgb(154, 154, 154), 852px 121px rgb(154, 154, 154), 854px 594px rgb(154, 154, 154), 1326px 1402px rgb(154, 154, 154), 1451px 980px rgb(154, 154, 154), 134px 1500px rgb(154, 154, 154), 1487px 1397px rgb(154, 154, 154), 1335px 1663px rgb(154, 154, 154), 465px 1380px rgb(154, 154, 154), 842px 1232px rgb(154, 154, 154), 283px 1483px rgb(154, 154, 154), 1712px 742px rgb(154, 154, 154), 185px 353px rgb(154, 154, 154), 731px 383px rgb(154, 154, 154), 95px 1584px rgb(154, 154, 154), 947px 1520px rgb(154, 154, 154), 212px 1565px rgb(154, 154, 154), 568px 485px rgb(154, 154, 154), 1129px 564px rgb(154, 154, 154), 212px 1665px rgb(154, 154, 154), 689px 1407px rgb(154, 154, 154), 167px 748px rgb(154, 154, 154), 245px 1352px rgb(154, 154, 154), 1438px 174px rgb(154, 154, 154), 1064px 734px rgb(154, 154, 154), 1379px 667px rgb(154, 154, 154), 1305px 1066px rgb(154, 154, 154), 790px 975px rgb(154, 154, 154), 559px 571px rgb(154, 154, 154), 23px 1424px rgb(154, 154, 154), 1179px 1632px rgb(154, 154, 154), 772px 1715px rgb(154, 154, 154), 1266px 774px rgb(154, 154, 154), 1490px 1663px rgb(154, 154, 154), 919px 1599px rgb(154, 154, 154), 344px 785px rgb(154, 154, 154), 1731px 527px rgb(154, 154, 154), 55px 1015px rgb(154, 154, 154), 442px 1563px rgb(154, 154, 154), 435px 1076px rgb(154, 154, 154), 768px 533px rgb(154, 154, 154), 471px 339px rgb(154, 154, 154), 1305px 98px rgb(154, 154, 154), 1772px 70px rgb(154, 154, 154), 394px 1658px rgb(154, 154, 154), 521px 5px rgb(154, 154, 154), 844px 134px rgb(154, 154, 154), 628px 115px rgb(154, 154, 154), 1164px 755px rgb(154, 154, 154), 69px 397px rgb(154, 154, 154), 1353px 1561px rgb(154, 154, 154), 287px 1388px rgb(154, 154, 154), 1245px 675px rgb(154, 154, 154), 1729px 1559px rgb(154, 154, 154), 813px 357px rgb(154, 154, 154), 305px 1610px rgb(154, 154, 154), 498px 653px rgb(154, 154, 154), 511px 1669px rgb(154, 154, 154), 228px 1246px rgb(154, 154, 154), 472px 288px rgb(154, 154, 154), 213px 992px rgb(154, 154, 154), 805px 279px rgb(154, 154, 154), 510px 1492px rgb(154, 154, 154), 1784px 222px rgb(154, 154, 154), 631px 1306px rgb(154, 154, 154), 858px 624px rgb(154, 154, 154), 147px 752px rgb(154, 154, 154), 319px 982px rgb(154, 154, 154), 1475px 1515px rgb(154, 154, 154), 601px 338px rgb(154, 154, 154), 1466px 1312px rgb(154, 154, 154), 1550px 119px rgb(154, 154, 154), 1491px 557px rgb(154, 154, 154), 1178px 162px rgb(154, 154, 154), 897px 327px rgb(154, 154, 154), 527px 1525px rgb(154, 154, 154), 1060px 1263px rgb(154, 154, 154);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.5s;
}

#stars-group-3 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 1035px 605px rgb(208, 208, 208), 857px 1589px rgb(208, 208, 208), 899px 1246px rgb(208, 208, 208), 1324px 223px rgb(208, 208, 208), 493px 136px rgb(208, 208, 208), 977px 573px rgb(208, 208, 208), 182px 665px rgb(208, 208, 208), 1410px 932px rgb(208, 208, 208), 1725px 1164px rgb(208, 208, 208), 348px 191px rgb(208, 208, 208), 445px 488px rgb(208, 208, 208), 940px 205px rgb(208, 208, 208), 976px 1737px rgb(208, 208, 208), 987px 1115px rgb(208, 208, 208), 111px 130px rgb(208, 208, 208), 1463px 349px rgb(208, 208, 208), 1674px 1501px rgb(208, 208, 208), 1725px 1174px rgb(208, 208, 208), 712px 1045px rgb(208, 208, 208), 1266px 1323px rgb(208, 208, 208), 1156px 1218px rgb(208, 208, 208), 298px 1217px rgb(208, 208, 208), 1760px 628px rgb(208, 208, 208), 380px 1748px rgb(208, 208, 208), 833px 159px rgb(208, 208, 208), 974px 775px rgb(208, 208, 208), 1031px 1615px rgb(208, 208, 208), 1493px 100px rgb(208, 208, 208), 558px 1303px rgb(208, 208, 208), 1507px 1330px rgb(208, 208, 208), 397px 1625px rgb(208, 208, 208), 356px 1581px rgb(208, 208, 208), 179px 971px rgb(208, 208, 208), 1308px 140px rgb(208, 208, 208), 414px 381px rgb(208, 208, 208), 1533px 1739px rgb(208, 208, 208), 942px 1464px rgb(208, 208, 208), 1079px 1164px rgb(208, 208, 208), 611px 1042px rgb(208, 208, 208), 52px 1002px rgb(208, 208, 208), 1715px 187px rgb(208, 208, 208), 1566px 1457px rgb(208, 208, 208), 129px 1757px rgb(208, 208, 208), 566px 1382px rgb(208, 208, 208), 608px 894px rgb(208, 208, 208), 1016px 367px rgb(208, 208, 208), 1727px 1693px rgb(208, 208, 208), 1561px 1059px rgb(208, 208, 208), 1240px 1088px rgb(208, 208, 208), 1719px 1450px rgb(208, 208, 208), 1002px 280px rgb(208, 208, 208), 410px 1535px rgb(208, 208, 208), 95px 544px rgb(208, 208, 208), 925px 819px rgb(208, 208, 208), 294px 799px rgb(208, 208, 208), 1056px 1002px rgb(208, 208, 208), 827px 551px rgb(208, 208, 208), 890px 746px rgb(208, 208, 208), 632px 470px rgb(208, 208, 208), 1174px 1069px rgb(208, 208, 208), 1071px 1110px rgb(208, 208, 208), 284px 1672px rgb(208, 208, 208), 1566px 952px rgb(208, 208, 208), 1004px 962px rgb(208, 208, 208), 1533px 1524px rgb(208, 208, 208), 1322px 670px rgb(208, 208, 208), 730px 1204px rgb(208, 208, 208), 1010px 502px rgb(208, 208, 208), 1564px 1560px rgb(208, 208, 208), 638px 1179px rgb(208, 208, 208), 1065px 1604px rgb(208, 208, 208), 1606px 660px rgb(208, 208, 208), 985px 90px rgb(208, 208, 208), 240px 717px rgb(208, 208, 208), 810px 1571px rgb(208, 208, 208), 221px 258px rgb(208, 208, 208), 445px 34px rgb(208, 208, 208), 1580px 1522px rgb(208, 208, 208), 1521px 516px rgb(208, 208, 208), 826px 188px rgb(208, 208, 208), 1608px 1401px rgb(208, 208, 208), 1772px 1238px rgb(208, 208, 208), 1630px 120px rgb(208, 208, 208), 558px 1128px rgb(208, 208, 208), 1459px 276px rgb(208, 208, 208), 1336px 436px rgb(208, 208, 208), 266px 761px rgb(208, 208, 208), 1434px 905px rgb(208, 208, 208), 974px 934px rgb(208, 208, 208), 1386px 615px rgb(208, 208, 208), 985px 821px rgb(208, 208, 208), 491px 1509px rgb(208, 208, 208), 1434px 203px rgb(208, 208, 208), 273px 1676px rgb(208, 208, 208), 1130px 1093px rgb(208, 208, 208), 627px 1629px rgb(208, 208, 208), 674px 677px rgb(208, 208, 208), 120px 392px rgb(208, 208, 208), 326px 1728px rgb(208, 208, 208), 1213px 842px rgb(208, 208, 208), 1710px 613px rgb(208, 208, 208), 1766px 1115px rgb(208, 208, 208), 1259px 851px rgb(208, 208, 208), 1261px 1171px rgb(208, 208, 208), 380px 1143px rgb(208, 208, 208), 723px 73px rgb(208, 208, 208), 1263px 908px rgb(208, 208, 208), 801px 1159px rgb(208, 208, 208), 691px 1603px rgb(208, 208, 208), 1111px 390px rgb(208, 208, 208), 1674px 1086px rgb(208, 208, 208), 1708px 655px rgb(208, 208, 208), 749px 391px rgb(208, 208, 208), 491px 831px rgb(208, 208, 208), 1183px 1263px rgb(208, 208, 208), 1383px 895px rgb(208, 208, 208), 1265px 1722px rgb(208, 208, 208), 439px 65px rgb(208, 208, 208), 312px 1687px rgb(208, 208, 208), 1590px 1327px rgb(208, 208, 208), 1775px 1443px rgb(208, 208, 208), 1351px 1059px rgb(208, 208, 208), 777px 1235px rgb(208, 208, 208), 865px 679px rgb(208, 208, 208), 597px 1487px rgb(208, 208, 208), 1361px 662px rgb(208, 208, 208), 1451px 767px rgb(208, 208, 208), 998px 108px rgb(208, 208, 208), 1413px 1467px rgb(208, 208, 208), 1181px 5px rgb(208, 208, 208), 447px 555px rgb(208, 208, 208), 991px 851px rgb(208, 208, 208), 1741px 411px rgb(208, 208, 208), 1469px 547px rgb(208, 208, 208), 1418px 1628px rgb(208, 208, 208), 1279px 222px rgb(208, 208, 208), 1203px 817px rgb(208, 208, 208), 393px 1476px rgb(208, 208, 208), 821px 1169px rgb(208, 208, 208), 937px 484px rgb(208, 208, 208), 697px 931px rgb(208, 208, 208), 607px 677px rgb(208, 208, 208), 854px 581px rgb(208, 208, 208), 1339px 410px rgb(208, 208, 208), 955px 1435px rgb(208, 208, 208), 929px 45px rgb(208, 208, 208), 828px 1402px rgb(208, 208, 208), 351px 711px rgb(208, 208, 208), 987px 995px rgb(208, 208, 208), 971px 378px rgb(208, 208, 208), 923px 1502px rgb(208, 208, 208), 879px 288px rgb(208, 208, 208), 1px 1044px rgb(208, 208, 208), 1266px 1034px rgb(208, 208, 208), 791px 733px rgb(208, 208, 208), 915px 139px rgb(208, 208, 208), 1413px 514px rgb(208, 208, 208), 28px 52px rgb(208, 208, 208), 799px 1727px rgb(208, 208, 208), 1764px 1311px rgb(208, 208, 208), 738px 1061px rgb(208, 208, 208), 797px 733px rgb(208, 208, 208), 350px 156px rgb(208, 208, 208), 1317px 1526px rgb(208, 208, 208), 557px 239px rgb(208, 208, 208), 787px 1787px rgb(208, 208, 208), 1363px 419px rgb(208, 208, 208), 999px 1403px rgb(208, 208, 208), 432px 1707px rgb(208, 208, 208), 840px 1458px rgb(208, 208, 208), 1578px 854px rgb(208, 208, 208), 1238px 207px rgb(208, 208, 208), 631px 1451px rgb(208, 208, 208), 207px 164px rgb(208, 208, 208), 327px 1379px rgb(208, 208, 208), 1375px 747px rgb(208, 208, 208), 37px 518px rgb(208, 208, 208), 203px 488px rgb(208, 208, 208), 1511px 386px rgb(208, 208, 208), 1116px 143px rgb(208, 208, 208), 162px 1460px rgb(208, 208, 208), 638px 1383px rgb(208, 208, 208), 1716px 759px rgb(208, 208, 208), 639px 1538px rgb(208, 208, 208), 1458px 1026px rgb(208, 208, 208), 1118px 888px rgb(208, 208, 208), 1765px 1753px rgb(208, 208, 208), 1772px 1299px rgb(208, 208, 208), 1788px 755px rgb(208, 208, 208), 809px 834px rgb(208, 208, 208), 1337px 1277px rgb(208, 208, 208), 544px 880px rgb(208, 208, 208), 60px 580px rgb(208, 208, 208), 1193px 466px rgb(208, 208, 208), 1141px 1527px rgb(208, 208, 208), 838px 747px rgb(208, 208, 208), 293px 502px rgb(208, 208, 208), 342px 1339px rgb(208, 208, 208), 777px 1492px rgb(208, 208, 208), 87px 606px rgb(208, 208, 208);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.8s;
}

#stars-group-4 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 717px 290px rgb(231, 231, 231), 1410px 1321px rgb(231, 231, 231), 782px 1105px rgb(231, 231, 231), 706px 10px rgb(231, 231, 231), 670px 341px rgb(231, 231, 231), 537px 1622px rgb(231, 231, 231), 617px 1210px rgb(231, 231, 231), 149px 1660px rgb(231, 231, 231), 1455px 115px rgb(231, 231, 231), 440px 1535px rgb(231, 231, 231), 1740px 663px rgb(231, 231, 231), 788px 1464px rgb(231, 231, 231), 1507px 1505px rgb(231, 231, 231), 1146px 647px rgb(231, 231, 231), 1445px 312px rgb(231, 231, 231), 1384px 927px rgb(231, 231, 231), 119px 1241px rgb(231, 231, 231), 1166px 1632px rgb(231, 231, 231), 1349px 623px rgb(231, 231, 231), 1444px 1507px rgb(231, 231, 231), 624px 84px rgb(231, 231, 231), 460px 265px rgb(231, 231, 231), 1014px 974px rgb(231, 231, 231), 1593px 1257px rgb(231, 231, 231), 862px 1597px rgb(231, 231, 231), 573px 1437px rgb(231, 231, 231), 636px 580px rgb(231, 231, 231), 434px 348px rgb(231, 231, 231), 137px 1082px rgb(231, 231, 231), 1649px 325px rgb(231, 231, 231), 1692px 1552px rgb(231, 231, 231), 282px 153px rgb(231, 231, 231), 359px 995px rgb(231, 231, 231), 1661px 676px rgb(231, 231, 231), 184px 919px rgb(231, 231, 231), 132px 1013px rgb(231, 231, 231), 58px 586px rgb(231, 231, 231), 1143px 1200px rgb(231, 231, 231), 152px 731px rgb(231, 231, 231), 34px 981px rgb(231, 231, 231), 502px 1455px rgb(231, 231, 231), 542px 561px rgb(231, 231, 231), 16px 1338px rgb(231, 231, 231), 1129px 1460px rgb(231, 231, 231), 673px 1602px rgb(231, 231, 231), 1624px 652px rgb(231, 231, 231), 397px 865px rgb(231, 231, 231), 1597px 1141px rgb(231, 231, 231), 1066px 649px rgb(231, 231, 231), 828px 865px rgb(231, 231, 231), 255px 1795px rgb(231, 231, 231), 982px 641px rgb(231, 231, 231), 1396px 219px rgb(231, 231, 231), 826px 337px rgb(231, 231, 231), 295px 89px rgb(231, 231, 231), 308px 546px rgb(231, 231, 231), 99px 1130px rgb(231, 231, 231), 1231px 618px rgb(231, 231, 231), 1399px 387px rgb(231, 231, 231), 1466px 313px rgb(231, 231, 231), 1070px 963px rgb(231, 231, 231), 817px 1161px rgb(231, 231, 231), 445px 1276px rgb(231, 231, 231), 124px 55px rgb(231, 231, 231), 1291px 862px rgb(231, 231, 231), 1519px 1101px rgb(231, 231, 231), 578px 355px rgb(231, 231, 231), 783px 1047px rgb(231, 231, 231), 262px 1722px rgb(231, 231, 231), 1540px 1799px rgb(231, 231, 231), 1501px 473px rgb(231, 231, 231), 178px 1548px rgb(231, 231, 231), 231px 1298px rgb(231, 231, 231), 649px 1164px rgb(231, 231, 231), 890px 624px rgb(231, 231, 231), 556px 323px rgb(231, 231, 231), 1688px 1462px rgb(231, 231, 231), 655px 1691px rgb(231, 231, 231), 21px 1251px rgb(231, 231, 231), 1252px 507px rgb(231, 231, 231), 1712px 281px rgb(231, 231, 231), 1080px 1352px rgb(231, 231, 231), 1632px 830px rgb(231, 231, 231), 157px 624px rgb(231, 231, 231), 486px 1212px rgb(231, 231, 231), 186px 1009px rgb(231, 231, 231), 118px 626px rgb(231, 231, 231), 1007px 1388px rgb(231, 231, 231), 385px 764px rgb(231, 231, 231), 1773px 194px rgb(231, 231, 231), 1413px 1092px rgb(231, 231, 231), 891px 964px rgb(231, 231, 231), 1301px 26px rgb(231, 231, 231), 1525px 832px rgb(231, 231, 231), 573px 465px rgb(231, 231, 231), 386px 1040px rgb(231, 231, 231), 1448px 295px rgb(231, 231, 231), 1700px 83px rgb(231, 231, 231), 282px 789px rgb(231, 231, 231), 1214px 490px rgb(231, 231, 231), 166px 1028px rgb(231, 231, 231), 33px 1520px rgb(231, 231, 231), 1136px 229px rgb(231, 231, 231), 668px 1174px rgb(231, 231, 231), 1291px 1664px rgb(231, 231, 231), 869px 1084px rgb(231, 231, 231), 817px 1233px rgb(231, 231, 231), 24px 1767px rgb(231, 231, 231), 510px 220px rgb(231, 231, 231), 318px 137px rgb(231, 231, 231), 495px 10px rgb(231, 231, 231), 367px 1336px rgb(231, 231, 231), 1742px 1337px rgb(231, 231, 231), 202px 1317px rgb(231, 231, 231), 320px 1601px rgb(231, 231, 231), 1068px 856px rgb(231, 231, 231), 1225px 352px rgb(231, 231, 231), 1007px 1448px rgb(231, 231, 231), 251px 1405px rgb(231, 231, 231), 1509px 1549px rgb(231, 231, 231), 766px 936px rgb(231, 231, 231), 758px 877px rgb(231, 231, 231), 474px 1318px rgb(231, 231, 231), 1px 1171px rgb(231, 231, 231), 312px 644px rgb(231, 231, 231), 796px 546px rgb(231, 231, 231), 793px 1482px rgb(231, 231, 231), 639px 1768px rgb(231, 231, 231), 625px 1133px rgb(231, 231, 231), 400px 400px rgb(231, 231, 231), 1468px 1376px rgb(231, 231, 231), 217px 382px rgb(231, 231, 231), 1456px 292px rgb(231, 231, 231), 1201px 1090px rgb(231, 231, 231), 44px 93px rgb(231, 231, 231), 495px 1786px rgb(231, 231, 231), 386px 791px rgb(231, 231, 231), 1492px 1593px rgb(231, 231, 231), 1107px 159px rgb(231, 231, 231), 342px 709px rgb(231, 231, 231), 1592px 1059px rgb(231, 231, 231), 1035px 899px rgb(231, 231, 231), 265px 722px rgb(231, 231, 231), 1490px 246px rgb(231, 231, 231), 616px 440px rgb(231, 231, 231), 1429px 725px rgb(231, 231, 231), 509px 1346px rgb(231, 231, 231), 327px 384px rgb(231, 231, 231), 1411px 1370px rgb(231, 231, 231), 691px 22px rgb(231, 231, 231), 1px 843px rgb(231, 231, 231), 1431px 1113px rgb(231, 231, 231), 779px 177px rgb(231, 231, 231), 452px 1062px rgb(231, 231, 231), 678px 180px rgb(231, 231, 231), 1202px 1057px rgb(231, 231, 231), 256px 447px rgb(231, 231, 231), 354px 400px rgb(231, 231, 231), 544px 1451px rgb(231, 231, 231), 368px 1658px rgb(231, 231, 231), 1577px 1733px rgb(231, 231, 231), 1541px 132px rgb(231, 231, 231), 865px 1306px rgb(231, 231, 231), 1111px 1283px rgb(231, 231, 231), 169px 138px rgb(231, 231, 231), 1466px 493px rgb(231, 231, 231), 1693px 948px rgb(231, 231, 231), 415px 1136px rgb(231, 231, 231), 1485px 1049px rgb(231, 231, 231), 884px 905px rgb(231, 231, 231), 1322px 1739px rgb(231, 231, 231), 9px 417px rgb(231, 231, 231), 1225px 1196px rgb(231, 231, 231), 1757px 1240px rgb(231, 231, 231), 1077px 890px rgb(231, 231, 231), 1531px 537px rgb(231, 231, 231), 1581px 12px rgb(231, 231, 231), 1564px 1128px rgb(231, 231, 231), 309px 290px rgb(231, 231, 231), 1315px 1425px rgb(231, 231, 231), 1225px 582px rgb(231, 231, 231), 207px 696px rgb(231, 231, 231), 1210px 1249px rgb(231, 231, 231), 636px 1205px rgb(231, 231, 231), 1635px 885px rgb(231, 231, 231), 826px 360px rgb(231, 231, 231), 409px 1327px rgb(231, 231, 231), 1316px 883px rgb(231, 231, 231), 1438px 589px rgb(231, 231, 231), 1122px 1140px rgb(231, 231, 231), 1313px 1105px rgb(231, 231, 231), 1572px 1378px rgb(231, 231, 231), 477px 563px rgb(231, 231, 231), 1053px 384px rgb(231, 231, 231), 732px 1197px rgb(231, 231, 231), 1509px 195px rgb(231, 231, 231), 699px 738px rgb(231, 231, 231), 1570px 1747px rgb(231, 231, 231), 1726px 644px rgb(231, 231, 231), 810px 733px rgb(231, 231, 231);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 1s;
}

#stars-group-5 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 418px 1520px rgb(250, 250, 250), 69px 1113px rgb(250, 250, 250), 361px 1132px rgb(250, 250, 250), 1023px 1149px rgb(250, 250, 250), 151px 1436px rgb(250, 250, 250), 134px 1420px rgb(250, 250, 250), 212px 1081px rgb(250, 250, 250), 1552px 1042px rgb(250, 250, 250), 659px 712px rgb(250, 250, 250), 448px 593px rgb(250, 250, 250), 1551px 937px rgb(250, 250, 250), 1551px 1399px rgb(250, 250, 250), 24px 356px rgb(250, 250, 250), 1013px 1508px rgb(250, 250, 250), 330px 962px rgb(250, 250, 250), 1020px 847px rgb(250, 250, 250), 1368px 351px rgb(250, 250, 250), 292px 696px rgb(250, 250, 250), 788px 1026px rgb(250, 250, 250), 98px 1115px rgb(250, 250, 250), 17px 452px rgb(250, 250, 250), 530px 123px rgb(250, 250, 250), 1292px 1008px rgb(250, 250, 250), 1766px 1226px rgb(250, 250, 250), 313px 856px rgb(250, 250, 250), 1167px 1483px rgb(250, 250, 250), 36px 930px rgb(250, 250, 250), 278px 710px rgb(250, 250, 250), 415px 1729px rgb(250, 250, 250), 813px 1351px rgb(250, 250, 250), 183px 857px rgb(250, 250, 250), 696px 215px rgb(250, 250, 250), 138px 1047px rgb(250, 250, 250), 931px 1192px rgb(250, 250, 250), 1088px 541px rgb(250, 250, 250), 325px 823px rgb(250, 250, 250), 1546px 877px rgb(250, 250, 250), 970px 1684px rgb(250, 250, 250), 52px 557px rgb(250, 250, 250), 1061px 1420px rgb(250, 250, 250), 148px 1523px rgb(250, 250, 250), 1211px 723px rgb(250, 250, 250), 141px 1535px rgb(250, 250, 250), 1744px 745px rgb(250, 250, 250), 1489px 110px rgb(250, 250, 250), 755px 521px rgb(250, 250, 250), 1512px 908px rgb(250, 250, 250), 772px 237px rgb(250, 250, 250), 42px 80px rgb(250, 250, 250), 1310px 900px rgb(250, 250, 250), 559px 1525px rgb(250, 250, 250), 1786px 33px rgb(250, 250, 250), 1282px 1563px rgb(250, 250, 250), 255px 1216px rgb(250, 250, 250), 179px 1475px rgb(250, 250, 250), 258px 1324px rgb(250, 250, 250), 960px 1646px rgb(250, 250, 250), 1707px 929px rgb(250, 250, 250), 1365px 1741px rgb(250, 250, 250), 528px 695px rgb(250, 250, 250), 313px 750px rgb(250, 250, 250), 1360px 779px rgb(250, 250, 250), 1198px 1313px rgb(250, 250, 250), 133px 1047px rgb(250, 250, 250), 407px 60px rgb(250, 250, 250), 1603px 1286px rgb(250, 250, 250), 1693px 177px rgb(250, 250, 250), 1014px 1784px rgb(250, 250, 250), 1120px 716px rgb(250, 250, 250), 792px 889px rgb(250, 250, 250), 864px 1071px rgb(250, 250, 250), 45px 609px rgb(250, 250, 250), 1275px 1341px rgb(250, 250, 250), 863px 1390px rgb(250, 250, 250), 1391px 1430px rgb(250, 250, 250), 158px 221px rgb(250, 250, 250), 745px 787px rgb(250, 250, 250), 700px 651px rgb(250, 250, 250), 153px 1082px rgb(250, 250, 250), 1335px 198px rgb(250, 250, 250), 960px 1214px rgb(250, 250, 250), 1510px 918px rgb(250, 250, 250), 502px 1521px rgb(250, 250, 250), 715px 710px rgb(250, 250, 250), 911px 1616px rgb(250, 250, 250), 947px 229px rgb(250, 250, 250), 1006px 1109px rgb(250, 250, 250), 656px 756px rgb(250, 250, 250), 1080px 648px rgb(250, 250, 250), 497px 395px rgb(250, 250, 250), 1254px 1650px rgb(250, 250, 250), 93px 1060px rgb(250, 250, 250), 2px 1378px rgb(250, 250, 250), 651px 1011px rgb(250, 250, 250), 915px 308px rgb(250, 250, 250), 1129px 915px rgb(250, 250, 250), 1767px 1226px rgb(250, 250, 250), 375px 818px rgb(250, 250, 250), 1628px 369px rgb(250, 250, 250), 479px 1017px rgb(250, 250, 250), 315px 902px rgb(250, 250, 250), 734px 1664px rgb(250, 250, 250), 53px 1290px rgb(250, 250, 250), 172px 402px rgb(250, 250, 250), 21px 1003px rgb(250, 250, 250), 925px 1385px rgb(250, 250, 250), 81px 730px rgb(250, 250, 250), 703px 1427px rgb(250, 250, 250), 385px 666px rgb(250, 250, 250), 463px 1028px rgb(250, 250, 250), 285px 653px rgb(250, 250, 250), 1633px 310px rgb(250, 250, 250), 1394px 333px rgb(250, 250, 250), 174px 1125px rgb(250, 250, 250), 1388px 927px rgb(250, 250, 250), 1031px 1078px rgb(250, 250, 250), 703px 244px rgb(250, 250, 250), 627px 1775px rgb(250, 250, 250), 292px 322px rgb(250, 250, 250), 910px 337px rgb(250, 250, 250), 1577px 1762px rgb(250, 250, 250), 156px 1388px rgb(250, 250, 250), 870px 1199px rgb(250, 250, 250), 368px 726px rgb(250, 250, 250), 65px 900px rgb(250, 250, 250), 198px 1175px rgb(250, 250, 250), 318px 351px rgb(250, 250, 250), 328px 1617px rgb(250, 250, 250), 34px 951px rgb(250, 250, 250), 1419px 1791px rgb(250, 250, 250), 590px 6px rgb(250, 250, 250), 1718px 112px rgb(250, 250, 250), 1576px 807px rgb(250, 250, 250), 1443px 1748px rgb(250, 250, 250), 283px 954px rgb(250, 250, 250), 1193px 402px rgb(250, 250, 250), 539px 1742px rgb(250, 250, 250), 177px 79px rgb(250, 250, 250), 664px 1421px rgb(250, 250, 250), 1539px 1186px rgb(250, 250, 250), 400px 263px rgb(250, 250, 250), 580px 1739px rgb(250, 250, 250), 899px 1544px rgb(250, 250, 250), 1230px 559px rgb(250, 250, 250), 780px 452px rgb(250, 250, 250), 1279px 1773px rgb(250, 250, 250), 1260px 205px rgb(250, 250, 250), 1380px 1305px rgb(250, 250, 250), 682px 777px rgb(250, 250, 250), 947px 1257px rgb(250, 250, 250), 63px 822px rgb(250, 250, 250), 968px 1185px rgb(250, 250, 250), 1191px 1369px rgb(250, 250, 250), 1785px 1310px rgb(250, 250, 250), 714px 368px rgb(250, 250, 250), 684px 252px rgb(250, 250, 250), 1315px 684px rgb(250, 250, 250), 726px 672px rgb(250, 250, 250), 154px 2px rgb(250, 250, 250), 1629px 827px rgb(250, 250, 250), 1746px 1593px rgb(250, 250, 250), 764px 1492px rgb(250, 250, 250), 1647px 1531px rgb(250, 250, 250), 1047px 13px rgb(250, 250, 250), 1291px 122px rgb(250, 250, 250), 1797px 1215px rgb(250, 250, 250), 126px 764px rgb(250, 250, 250), 1127px 917px rgb(250, 250, 250), 1609px 1483px rgb(250, 250, 250), 1753px 956px rgb(250, 250, 250), 1422px 147px rgb(250, 250, 250), 579px 561px rgb(250, 250, 250), 1124px 540px rgb(250, 250, 250), 1597px 1627px rgb(250, 250, 250), 1197px 886px rgb(250, 250, 250), 355px 1714px rgb(250, 250, 250), 1765px 1420px rgb(250, 250, 250), 855px 1475px rgb(250, 250, 250), 1668px 1353px rgb(250, 250, 250), 1127px 650px rgb(250, 250, 250), 1263px 1487px rgb(250, 250, 250), 1153px 633px rgb(250, 250, 250), 445px 1313px rgb(250, 250, 250), 767px 447px rgb(250, 250, 250), 1678px 1161px rgb(250, 250, 250), 1233px 1619px rgb(250, 250, 250), 665px 1794px rgb(250, 250, 250), 1227px 949px rgb(250, 250, 250), 1510px 888px rgb(250, 250, 250), 144px 350px rgb(250, 250, 250), 23px 45px rgb(250, 250, 250), 852px 660px rgb(250, 250, 250), 714px 1731px rgb(250, 250, 250), 402px 83px rgb(250, 250, 250), 399px 322px rgb(250, 250, 250), 974px 434px rgb(250, 250, 250), 1256px 804px rgb(250, 250, 250), 1741px 285px rgb(250, 250, 250), 679px 137px rgb(250, 250, 250), 1741px 1674px rgb(250, 250, 250);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 1.2s;
}

#stars-group-6 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 619px 146px rgb(255, 255, 255), 1154px 1150px rgb(255, 255, 255), 1308px 470px rgb(255, 255, 255), 1086px 1564px rgb(255, 255, 255), 84px 1090px rgb(255, 255, 255), 1621px 1288px rgb(255, 255, 255), 1431px 342px rgb(255, 255, 255), 1786px 1797px rgb(255, 255, 255), 1378px 231px rgb(255, 255, 255), 799px 849px rgb(255, 255, 255), 1747px 1458px rgb(255, 255, 255), 1602px 80px rgb(255, 255, 255), 1044px 1012px rgb(255, 255, 255), 950px 803px rgb(255, 255, 255), 319px 1022px rgb(255, 255, 255), 1081px 417px rgb(255, 255, 255), 1678px 1637px rgb(255, 255, 255), 262px 385px rgb(255, 255, 255), 1294px 695px rgb(255, 255, 255), 1799px 74px rgb(255, 255, 255), 112px 1533px rgb(255, 255, 255), 102px 312px rgb(255, 255, 255), 1789px 1053px rgb(255, 255, 255), 1608px 991px rgb(255, 255, 255), 664px 24px rgb(255, 255, 255), 1405px 208px rgb(255, 255, 255), 200px 712px rgb(255, 255, 255), 244px 1543px rgb(255, 255, 255), 1149px 9px rgb(255, 255, 255), 1574px 702px rgb(255, 255, 255), 1004px 107px rgb(255, 255, 255), 661px 991px rgb(255, 255, 255), 851px 928px rgb(255, 255, 255), 259px 1116px rgb(255, 255, 255), 671px 1701px rgb(255, 255, 255), 930px 1366px rgb(255, 255, 255), 1393px 1698px rgb(255, 255, 255), 1278px 1727px rgb(255, 255, 255), 1341px 1305px rgb(255, 255, 255), 1360px 404px rgb(255, 255, 255), 1206px 69px rgb(255, 255, 255), 1163px 334px rgb(255, 255, 255), 1179px 577px rgb(255, 255, 255), 1679px 683px rgb(255, 255, 255), 247px 415px rgb(255, 255, 255), 739px 1436px rgb(255, 255, 255), 1800px 21px rgb(255, 255, 255), 1770px 1048px rgb(255, 255, 255), 178px 930px rgb(255, 255, 255), 550px 547px rgb(255, 255, 255), 126px 1219px rgb(255, 255, 255), 1095px 1433px rgb(255, 255, 255), 1278px 345px rgb(255, 255, 255), 1380px 179px rgb(255, 255, 255), 429px 870px rgb(255, 255, 255), 807px 481px rgb(255, 255, 255), 1369px 1461px rgb(255, 255, 255), 1549px 524px rgb(255, 255, 255), 1114px 985px rgb(255, 255, 255), 416px 1280px rgb(255, 255, 255), 72px 493px rgb(255, 255, 255), 800px 754px rgb(255, 255, 255), 1380px 1037px rgb(255, 255, 255), 1163px 1478px rgb(255, 255, 255), 1588px 266px rgb(255, 255, 255), 528px 1706px rgb(255, 255, 255), 1291px 935px rgb(255, 255, 255), 567px 238px rgb(255, 255, 255), 324px 1797px rgb(255, 255, 255), 1212px 1229px rgb(255, 255, 255), 1138px 1046px rgb(255, 255, 255), 312px 544px rgb(255, 255, 255), 624px 962px rgb(255, 255, 255), 1090px 1417px rgb(255, 255, 255), 1414px 1514px rgb(255, 255, 255), 713px 1394px rgb(255, 255, 255), 187px 169px rgb(255, 255, 255), 1066px 1680px rgb(255, 255, 255), 664px 1706px rgb(255, 255, 255), 1457px 1043px rgb(255, 255, 255), 641px 473px rgb(255, 255, 255), 208px 463px rgb(255, 255, 255), 1333px 777px rgb(255, 255, 255), 1143px 1588px rgb(255, 255, 255), 291px 1224px rgb(255, 255, 255), 391px 158px rgb(255, 255, 255), 179px 943px rgb(255, 255, 255), 373px 821px rgb(255, 255, 255), 1013px 687px rgb(255, 255, 255), 33px 131px rgb(255, 255, 255), 1484px 1745px rgb(255, 255, 255), 565px 233px rgb(255, 255, 255), 1234px 1327px rgb(255, 255, 255), 387px 546px rgb(255, 255, 255), 565px 1485px rgb(255, 255, 255), 19px 1753px rgb(255, 255, 255), 452px 1477px rgb(255, 255, 255), 1606px 1467px rgb(255, 255, 255), 241px 315px rgb(255, 255, 255), 383px 146px rgb(255, 255, 255), 395px 1011px rgb(255, 255, 255), 1061px 312px rgb(255, 255, 255), 974px 1225px rgb(255, 255, 255), 97px 1171px rgb(255, 255, 255), 683px 1120px rgb(255, 255, 255), 1223px 1663px rgb(255, 255, 255), 348px 140px rgb(255, 255, 255), 140px 401px rgb(255, 255, 255), 338px 1521px rgb(255, 255, 255), 1713px 915px rgb(255, 255, 255), 1215px 1293px rgb(255, 255, 255), 183px 558px rgb(255, 255, 255), 989px 791px rgb(255, 255, 255), 1212px 192px rgb(255, 255, 255), 654px 446px rgb(255, 255, 255), 871px 1042px rgb(255, 255, 255), 1621px 749px rgb(255, 255, 255), 633px 812px rgb(255, 255, 255), 1170px 1498px rgb(255, 255, 255), 540px 727px rgb(255, 255, 255), 1734px 1493px rgb(255, 255, 255), 1517px 728px rgb(255, 255, 255), 191px 179px rgb(255, 255, 255), 1795px 180px rgb(255, 255, 255), 1708px 139px rgb(255, 255, 255), 201px 1789px rgb(255, 255, 255), 445px 1083px rgb(255, 255, 255), 1701px 36px rgb(255, 255, 255), 1278px 1115px rgb(255, 255, 255), 538px 1475px rgb(255, 255, 255), 837px 1532px rgb(255, 255, 255), 164px 340px rgb(255, 255, 255), 573px 1351px rgb(255, 255, 255), 582px 365px rgb(255, 255, 255), 1271px 202px rgb(255, 255, 255), 1729px 1px rgb(255, 255, 255), 600px 1103px rgb(255, 255, 255), 558px 1712px rgb(255, 255, 255), 1005px 1732px rgb(255, 255, 255), 1750px 1155px rgb(255, 255, 255), 1796px 441px rgb(255, 255, 255), 1543px 752px rgb(255, 255, 255), 457px 407px rgb(255, 255, 255), 1651px 1091px rgb(255, 255, 255), 579px 311px rgb(255, 255, 255), 102px 864px rgb(255, 255, 255), 1689px 1659px rgb(255, 255, 255), 1752px 1175px rgb(255, 255, 255), 543px 901px rgb(255, 255, 255), 1266px 970px rgb(255, 255, 255), 262px 1170px rgb(255, 255, 255), 1203px 1597px rgb(255, 255, 255), 772px 1098px rgb(255, 255, 255), 646px 1648px rgb(255, 255, 255), 303px 31px rgb(255, 255, 255), 1090px 379px rgb(255, 255, 255), 1393px 662px rgb(255, 255, 255), 153px 753px rgb(255, 255, 255), 1709px 1486px rgb(255, 255, 255), 1789px 567px rgb(255, 255, 255), 1174px 1295px rgb(255, 255, 255), 578px 1165px rgb(255, 255, 255), 1534px 602px rgb(255, 255, 255), 894px 1789px rgb(255, 255, 255), 1055px 1469px rgb(255, 255, 255), 230px 1775px rgb(255, 255, 255), 1043px 1193px rgb(255, 255, 255), 79px 1384px rgb(255, 255, 255), 312px 188px rgb(255, 255, 255), 702px 764px rgb(255, 255, 255), 1572px 217px rgb(255, 255, 255), 1116px 1298px rgb(255, 255, 255), 1334px 699px rgb(255, 255, 255), 294px 194px rgb(255, 255, 255), 309px 443px rgb(255, 255, 255), 665px 1511px rgb(255, 255, 255), 1736px 113px rgb(255, 255, 255), 131px 929px rgb(255, 255, 255), 1008px 1422px rgb(255, 255, 255), 462px 1621px rgb(255, 255, 255), 748px 501px rgb(255, 255, 255), 1289px 386px rgb(255, 255, 255), 1234px 430px rgb(255, 255, 255), 1465px 1617px rgb(255, 255, 255), 1671px 301px rgb(255, 255, 255), 262px 1669px rgb(255, 255, 255), 1516px 562px rgb(255, 255, 255), 832px 1529px rgb(255, 255, 255), 1356px 884px rgb(255, 255, 255), 1309px 821px rgb(255, 255, 255), 436px 1256px rgb(255, 255, 255), 1560px 213px rgb(255, 255, 255), 1420px 1662px rgb(255, 255, 255), 1410px 1728px rgb(255, 255, 255), 1327px 1097px rgb(255, 255, 255), 1211px 1587px rgb(255, 255, 255), 861px 1082px rgb(255, 255, 255), 106px 1280px rgb(255, 255, 255), 796px 1730px rgb(255, 255, 255), 994px 272px rgb(255, 255, 255);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 1.5s;
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}

/*# sourceMappingURL=index.css.map */
