*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  transition-duration: 300ms;
}

:root {
  scroll-behavior: smooth;
  vertical-align: baseline;
  background-color: #0b091c;
  /* font for landing page main/second. heading */
  --ff-mainHeading: "Poppins", sans-serif;
  --ff-subHeading: "Sathu", sans-serif;
  /* main font family */
  font-family: "Times New Roman", sans-serif;
  /* clamp resizes according to window size */
  --fs-mainHeading: clamp(1.5rem, 7vw, 7rem);
  --fs-subHeading: clamp(1rem, 3vw, 4rem);
  /* three colors for the website */
  /* https://color.adobe.com/create/color-wheel */
  --ff-mainColor: #000000;
  --ff-secondaryColor: #dedede;
  --ff-tertiaryColor: #c4c4c4;
  /*
  --ff-mainColor: #ffffff;
  --ff-secondaryColor: #2f2f2f;
  --ff-tertiaryColor: #c4c4c4;

   */
}

/* --<>-- --<>-- --<>-- --<>-- --<>-- --<>-- */
/* to use @mixing functions type */
/* @include NAMEofFunction(parameter if necessary); */
main {
  display: flex;
  flex-direction: column;
}
main .orbit {
  overflow: hidden;
  height: 1280px;
  width: 100%;
  border: 1px solid red;
}
main .orbit .point {
  position: relative;
  left: 50%;
  top: 50%;
  width: 0px;
  height: 0px;
  border: 1px solid red;
}
main .orbit .point .sun {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -100px;
  top: -100px;
  box-shadow: 0 0 25px 0 orange !important;
  border-radius: 50%;
}
main .orbit .point .earth {
  position: absolute;
  width: 60px;
  height: 60px;
  left: -320px;
  top: -30px;
  transform-origin: 320px center;
  animation: rotation 20s infinite linear;
  box-shadow: 0 0 15px 0.2px blue !important;
  border-radius: 50%;
}
main .orbit .point .earth .moon {
  position: relative;
  width: 20px;
  height: 20px;
  left: -30px;
  top: -30px;
  transform-origin: 60px 60px;
  animation: rotation 20s infinite linear;
  box-shadow: 0 0 10px 0 grey !important;
  border-radius: 50%;
}
main .orbit .point .earth .sph1 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: -6px;
  top: -6px;
  transform-origin: center center;
  border-radius: 50%;
  border: 1px dashed rgb(154, 154, 154) !important;
}
main .orbit .point .earth .sph2 {
  position: absolute;
  width: 85px;
  height: 85px;
  left: -13.5px;
  top: -13.5px;
  transform-origin: center center;
  border-radius: 50%;
  border: 1px dashed rgb(154, 154, 154) !important;
}
main .orbit .point .earth .sph3 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -20px;
  top: -20px;
  transform-origin: center center;
  border-radius: 50%;
  border: 1px dashed rgb(154, 154, 154) !important;
}
main .orbit .point .mercury {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 200px;
  top: -20px;
  transform-origin: -200px center;
  animation: rotation 40s infinite linear;
  border-radius: 50%;
}
main .orbit .point .mars {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 400px;
  top: -25px;
  transform-origin: -400px center;
  animation: rotation 36s infinite linear;
  border-radius: 50%;
}
main .orbit .point .jupiter {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 700px;
  top: -50px;
  transform-origin: -700px center;
  animation: rotation 62s infinite linear;
  border-radius: 50%;
}
main .orbit .point .saturn {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 750px;
  top: -40px;
  transform-origin: -750px center;
  animation: rotation 84s infinite linear;
  border-radius: 50%;
}
main .orbit .point .saturn .yapet {
  position: relative;
  width: 10px;
  height: 10px;
  left: -75px;
  top: -75px;
  transform-origin: 85px 85px;
  animation: rotation 10s infinite linear;
  border-radius: 50%;
}
main .orbit .point .saturn .titan {
  position: relative;
  width: 15px;
  height: 15px;
  left: 40px;
  top: -7.5px;
  transform-origin: -80px center;
  animation: rotation 8s infinite linear;
  border-radius: 50%;
}
main .orbit .point .saturn .kol {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -11px;
  top: -11px;
  transform-origin: center center;
  border-radius: 50%;
}
main .orbit .point > *:hover {
  animation-play-state: paused;
}
@keyframes rotation {
  100% {
    transform: rotate(-360deg);
  }
}

.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
  height: 200px;
  @import url(https://fonts.googleapis.com/css?family=Varela+Round);
}
.timeline .li {
  transition: all 200ms ease-in;
}
.timeline .li.complete .status {
  border-top: 2px solid red;
}
.timeline .li.complete .status:before {
  background-color: red;
  border: none;
  transition: all 200ms ease-in;
}
.timeline .li.complete .status h4 {
  color: red;
  padding-top: 20px;
}
.timeline .timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  color: white;
}
.timeline .status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.timeline .status h4 {
  padding-top: 20px;
  font-weight: 600;
  color: white;
}
.timeline .status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}
@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }
  .timeline .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }
  .timeline .timestamp {
    width: 100px;
  }
  .timeline .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}
.timeline html, .timeline body {
  background: #333 url("https://codepen.io/images/classy_fabric.png");
}
.timeline .slides {
  padding: 0;
  width: 609px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.timeline .slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.timeline .slides input {
  display: none;
}
.timeline .slides .slide-container {
  display: block;
}
.timeline .slides .slide {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all 0.7s ease-in-out;
}
.timeline .slides .slide img {
  width: 100%;
  height: 100%;
}
.timeline .slides .nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity 0.2s;
  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.timeline .slides .nav .next {
  right: 0;
}
.timeline .slides .nav .slide:hover + label {
  opacity: 0.5;
}
.timeline .slides .nav label:hover {
  opacity: 1;
}
.timeline .slides .nav input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
.timeline .slides .nav input:checked + .slide-container .nav label {
  display: block;
}
.timeline .slides .nav .nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}
.timeline .slides .nav .nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}
.timeline .slides .nav .nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
.timeline .slides .nav .nav-dots input#img-1:checked ~ label#img-dot-1,
.timeline .slides .nav .nav-dots input#img-2:checked ~ label#img-dot-2 {
  background: rgba(0, 0, 0, 0.8);
}

#stars-group-1 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 596px 1092px rgb(255, 255, 255), 1619px 339px rgb(255, 255, 255), 387px 372px rgb(255, 255, 255), 1125px 1392px rgb(255, 255, 255), 921px 793px rgb(255, 255, 255), 838px 1161px rgb(255, 255, 255), 1097px 1305px rgb(255, 255, 255), 685px 199px rgb(255, 255, 255), 1590px 213px rgb(255, 255, 255), 1572px 535px rgb(255, 255, 255), 1447px 467px rgb(255, 255, 255), 1466px 977px rgb(255, 255, 255), 1700px 846px rgb(255, 255, 255), 313px 1299px rgb(255, 255, 255), 211px 132px rgb(255, 255, 255), 1000px 1629px rgb(255, 255, 255), 1052px 917px rgb(255, 255, 255), 637px 1727px rgb(255, 255, 255), 918px 112px rgb(255, 255, 255), 191px 131px rgb(255, 255, 255), 1102px 1443px rgb(255, 255, 255), 609px 923px rgb(255, 255, 255), 1408px 316px rgb(255, 255, 255), 1039px 1687px rgb(255, 255, 255), 584px 1270px rgb(255, 255, 255), 765px 66px rgb(255, 255, 255), 1708px 1485px rgb(255, 255, 255), 1575px 394px rgb(255, 255, 255), 2px 953px rgb(255, 255, 255), 16px 97px rgb(255, 255, 255), 1485px 693px rgb(255, 255, 255), 1741px 1006px rgb(255, 255, 255), 894px 1711px rgb(255, 255, 255), 467px 1306px rgb(255, 255, 255), 103px 439px rgb(255, 255, 255), 279px 236px rgb(255, 255, 255), 1104px 479px rgb(255, 255, 255), 1690px 1349px rgb(255, 255, 255), 837px 429px rgb(255, 255, 255), 274px 1551px rgb(255, 255, 255), 129px 485px rgb(255, 255, 255), 26px 360px rgb(255, 255, 255), 212px 1277px rgb(255, 255, 255), 439px 1272px rgb(255, 255, 255), 1625px 1662px rgb(255, 255, 255), 1552px 1309px rgb(255, 255, 255), 493px 1413px rgb(255, 255, 255), 691px 1698px rgb(255, 255, 255), 881px 1510px rgb(255, 255, 255), 702px 967px rgb(255, 255, 255), 494px 1580px rgb(255, 255, 255), 807px 438px rgb(255, 255, 255), 240px 1555px rgb(255, 255, 255), 1011px 352px rgb(255, 255, 255), 1688px 86px rgb(255, 255, 255), 114px 1636px rgb(255, 255, 255), 1139px 232px rgb(255, 255, 255), 92px 291px rgb(255, 255, 255), 1263px 1581px rgb(255, 255, 255), 1718px 785px rgb(255, 255, 255), 656px 593px rgb(255, 255, 255), 421px 969px rgb(255, 255, 255), 1628px 720px rgb(255, 255, 255), 1184px 712px rgb(255, 255, 255), 130px 589px rgb(255, 255, 255), 836px 625px rgb(255, 255, 255), 607px 1452px rgb(255, 255, 255), 880px 83px rgb(255, 255, 255), 336px 1187px rgb(255, 255, 255), 1417px 1596px rgb(255, 255, 255), 1331px 1003px rgb(255, 255, 255), 532px 1281px rgb(255, 255, 255), 857px 583px rgb(255, 255, 255), 1800px 918px rgb(255, 255, 255), 695px 806px rgb(255, 255, 255), 1746px 141px rgb(255, 255, 255), 947px 1438px rgb(255, 255, 255), 1494px 1754px rgb(255, 255, 255), 1704px 1324px rgb(255, 255, 255), 794px 605px rgb(255, 255, 255), 184px 913px rgb(255, 255, 255), 1517px 1001px rgb(255, 255, 255), 1548px 1433px rgb(255, 255, 255), 1683px 1489px rgb(255, 255, 255), 727px 33px rgb(255, 255, 255), 1406px 1332px rgb(255, 255, 255), 84px 626px rgb(255, 255, 255), 1598px 1619px rgb(255, 255, 255), 1775px 197px rgb(255, 255, 255), 728px 1172px rgb(255, 255, 255), 1332px 689px rgb(255, 255, 255), 303px 482px rgb(255, 255, 255), 1704px 561px rgb(255, 255, 255), 1137px 279px rgb(255, 255, 255), 586px 743px rgb(255, 255, 255), 325px 521px rgb(255, 255, 255), 201px 1154px rgb(255, 255, 255), 1566px 957px rgb(255, 255, 255), 514px 410px rgb(255, 255, 255), 1399px 611px rgb(255, 255, 255), 1421px 294px rgb(255, 255, 255), 175px 1198px rgb(255, 255, 255), 1409px 517px rgb(255, 255, 255), 301px 1760px rgb(255, 255, 255), 460px 531px rgb(255, 255, 255), 1263px 324px rgb(255, 255, 255), 854px 509px rgb(255, 255, 255), 1479px 1471px rgb(255, 255, 255), 1525px 1749px rgb(255, 255, 255), 1159px 206px rgb(255, 255, 255), 1770px 101px rgb(255, 255, 255), 126px 852px rgb(255, 255, 255), 241px 3px rgb(255, 255, 255), 519px 1713px rgb(255, 255, 255), 1333px 1432px rgb(255, 255, 255), 1587px 223px rgb(255, 255, 255), 1169px 869px rgb(255, 255, 255), 1497px 30px rgb(255, 255, 255), 1741px 1530px rgb(255, 255, 255), 639px 392px rgb(255, 255, 255), 1738px 90px rgb(255, 255, 255), 715px 1550px rgb(255, 255, 255), 1269px 301px rgb(255, 255, 255), 834px 1275px rgb(255, 255, 255), 1634px 972px rgb(255, 255, 255), 1484px 1021px rgb(255, 255, 255), 1764px 180px rgb(255, 255, 255), 320px 390px rgb(255, 255, 255), 1026px 1709px rgb(255, 255, 255), 708px 243px rgb(255, 255, 255), 1072px 1434px rgb(255, 255, 255), 1127px 243px rgb(255, 255, 255), 1170px 1336px rgb(255, 255, 255), 771px 1122px rgb(255, 255, 255), 1593px 858px rgb(255, 255, 255), 673px 1783px rgb(255, 255, 255), 727px 228px rgb(255, 255, 255), 1515px 1194px rgb(255, 255, 255), 497px 336px rgb(255, 255, 255), 45px 168px rgb(255, 255, 255), 862px 610px rgb(255, 255, 255), 1024px 463px rgb(255, 255, 255), 861px 315px rgb(255, 255, 255), 537px 1015px rgb(255, 255, 255), 301px 1120px rgb(255, 255, 255), 743px 1165px rgb(255, 255, 255), 556px 1213px rgb(255, 255, 255), 792px 456px rgb(255, 255, 255), 1602px 1474px rgb(255, 255, 255), 1561px 1282px rgb(255, 255, 255), 630px 733px rgb(255, 255, 255), 480px 494px rgb(255, 255, 255), 527px 440px rgb(255, 255, 255), 1768px 439px rgb(255, 255, 255), 52px 893px rgb(255, 255, 255), 117px 1521px rgb(255, 255, 255), 973px 502px rgb(255, 255, 255), 1571px 1795px rgb(255, 255, 255), 1473px 1650px rgb(255, 255, 255), 1674px 531px rgb(255, 255, 255), 1215px 754px rgb(255, 255, 255), 598px 875px rgb(255, 255, 255), 778px 1262px rgb(255, 255, 255), 1098px 1284px rgb(255, 255, 255), 1337px 697px rgb(255, 255, 255), 1494px 648px rgb(255, 255, 255), 1490px 560px rgb(255, 255, 255), 863px 655px rgb(255, 255, 255), 9px 661px rgb(255, 255, 255), 540px 152px rgb(255, 255, 255), 1605px 1091px rgb(255, 255, 255), 125px 882px rgb(255, 255, 255), 385px 187px rgb(255, 255, 255), 419px 217px rgb(255, 255, 255), 1576px 664px rgb(255, 255, 255), 114px 1095px rgb(255, 255, 255), 1509px 907px rgb(255, 255, 255), 1191px 99px rgb(255, 255, 255), 646px 267px rgb(255, 255, 255), 279px 246px rgb(255, 255, 255), 1650px 1237px rgb(255, 255, 255), 858px 1266px rgb(255, 255, 255), 358px 1288px rgb(255, 255, 255), 1455px 92px rgb(255, 255, 255), 566px 489px rgb(255, 255, 255), 1724px 76px rgb(255, 255, 255), 117px 113px rgb(255, 255, 255), 1552px 1563px rgb(255, 255, 255), 478px 1502px rgb(255, 255, 255), 951px 102px rgb(255, 255, 255), 842px 1621px rgb(255, 255, 255), 1583px 875px rgb(255, 255, 255), 966px 70px rgb(255, 255, 255), 1789px 416px rgb(255, 255, 255), 1523px 1716px rgb(255, 255, 255), 1373px 788px rgb(255, 255, 255), 1208px 1509px rgb(255, 255, 255), 1757px 1595px rgb(255, 255, 255), 1123px 1072px rgb(255, 255, 255), 90px 1568px rgb(255, 255, 255);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.3s;
}

#stars-group-2 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 265px 1274px rgb(255, 255, 255), 933px 1663px rgb(255, 255, 255), 5px 404px rgb(255, 255, 255), 1369px 1219px rgb(255, 255, 255), 512px 75px rgb(255, 255, 255), 1577px 1530px rgb(255, 255, 255), 1438px 438px rgb(255, 255, 255), 1570px 251px rgb(255, 255, 255), 543px 429px rgb(255, 255, 255), 725px 629px rgb(255, 255, 255), 346px 135px rgb(255, 255, 255), 1192px 1429px rgb(255, 255, 255), 1697px 745px rgb(255, 255, 255), 130px 478px rgb(255, 255, 255), 355px 553px rgb(255, 255, 255), 600px 1378px rgb(255, 255, 255), 864px 418px rgb(255, 255, 255), 501px 1028px rgb(255, 255, 255), 484px 153px rgb(255, 255, 255), 885px 1325px rgb(255, 255, 255), 256px 212px rgb(255, 255, 255), 1289px 667px rgb(255, 255, 255), 1300px 435px rgb(255, 255, 255), 85px 325px rgb(255, 255, 255), 101px 986px rgb(255, 255, 255), 1056px 390px rgb(255, 255, 255), 389px 1459px rgb(255, 255, 255), 1265px 610px rgb(255, 255, 255), 1110px 948px rgb(255, 255, 255), 336px 1617px rgb(255, 255, 255), 514px 1445px rgb(255, 255, 255), 1223px 1109px rgb(255, 255, 255), 697px 724px rgb(255, 255, 255), 1368px 1481px rgb(255, 255, 255), 177px 347px rgb(255, 255, 255), 1118px 1691px rgb(255, 255, 255), 815px 1337px rgb(255, 255, 255), 1066px 162px rgb(255, 255, 255), 691px 473px rgb(255, 255, 255), 429px 1168px rgb(255, 255, 255), 248px 1245px rgb(255, 255, 255), 649px 1134px rgb(255, 255, 255), 117px 816px rgb(255, 255, 255), 722px 617px rgb(255, 255, 255), 449px 61px rgb(255, 255, 255), 287px 1026px rgb(255, 255, 255), 546px 1669px rgb(255, 255, 255), 190px 221px rgb(255, 255, 255), 205px 1530px rgb(255, 255, 255), 268px 604px rgb(255, 255, 255), 1541px 998px rgb(255, 255, 255), 1054px 1033px rgb(255, 255, 255), 63px 759px rgb(255, 255, 255), 541px 1783px rgb(255, 255, 255), 399px 1054px rgb(255, 255, 255), 1468px 541px rgb(255, 255, 255), 1149px 261px rgb(255, 255, 255), 1506px 1100px rgb(255, 255, 255), 756px 711px rgb(255, 255, 255), 1666px 1457px rgb(255, 255, 255), 1561px 52px rgb(255, 255, 255), 613px 141px rgb(255, 255, 255), 975px 103px rgb(255, 255, 255), 1029px 452px rgb(255, 255, 255), 673px 1057px rgb(255, 255, 255), 725px 176px rgb(255, 255, 255), 1288px 516px rgb(255, 255, 255), 1045px 1064px rgb(255, 255, 255), 716px 1290px rgb(255, 255, 255), 1431px 1061px rgb(255, 255, 255), 1121px 1189px rgb(255, 255, 255), 428px 1624px rgb(255, 255, 255), 898px 1679px rgb(255, 255, 255), 1035px 1310px rgb(255, 255, 255), 1578px 8px rgb(255, 255, 255), 713px 854px rgb(255, 255, 255), 1352px 1114px rgb(255, 255, 255), 468px 1174px rgb(255, 255, 255), 1553px 721px rgb(255, 255, 255), 831px 1554px rgb(255, 255, 255), 922px 1239px rgb(255, 255, 255), 663px 1411px rgb(255, 255, 255), 267px 1493px rgb(255, 255, 255), 1478px 208px rgb(255, 255, 255), 1185px 1605px rgb(255, 255, 255), 59px 1642px rgb(255, 255, 255), 1651px 219px rgb(255, 255, 255), 1770px 100px rgb(255, 255, 255), 1066px 1724px rgb(255, 255, 255), 757px 813px rgb(255, 255, 255), 1125px 574px rgb(255, 255, 255), 1412px 1084px rgb(255, 255, 255), 1703px 1176px rgb(255, 255, 255), 181px 729px rgb(255, 255, 255), 269px 1679px rgb(255, 255, 255), 1770px 69px rgb(255, 255, 255), 1277px 524px rgb(255, 255, 255), 1588px 881px rgb(255, 255, 255), 451px 592px rgb(255, 255, 255), 1248px 889px rgb(255, 255, 255), 240px 869px rgb(255, 255, 255), 1053px 52px rgb(255, 255, 255), 1098px 1177px rgb(255, 255, 255), 1430px 518px rgb(255, 255, 255), 1109px 1021px rgb(255, 255, 255), 1355px 1504px rgb(255, 255, 255), 829px 1163px rgb(255, 255, 255), 1784px 888px rgb(255, 255, 255), 1119px 1015px rgb(255, 255, 255), 933px 1785px rgb(255, 255, 255), 165px 201px rgb(255, 255, 255), 1243px 1431px rgb(255, 255, 255), 415px 1038px rgb(255, 255, 255), 1491px 1685px rgb(255, 255, 255), 1342px 193px rgb(255, 255, 255), 1497px 935px rgb(255, 255, 255), 878px 11px rgb(255, 255, 255), 718px 465px rgb(255, 255, 255), 45px 1117px rgb(255, 255, 255), 784px 168px rgb(255, 255, 255), 273px 1548px rgb(255, 255, 255), 546px 986px rgb(255, 255, 255), 1128px 222px rgb(255, 255, 255), 1094px 1589px rgb(255, 255, 255), 1212px 880px rgb(255, 255, 255), 1354px 106px rgb(255, 255, 255), 909px 247px rgb(255, 255, 255), 1613px 876px rgb(255, 255, 255), 441px 753px rgb(255, 255, 255), 1251px 420px rgb(255, 255, 255), 99px 252px rgb(255, 255, 255), 302px 549px rgb(255, 255, 255), 1742px 1567px rgb(255, 255, 255), 154px 145px rgb(255, 255, 255), 776px 61px rgb(255, 255, 255), 1105px 1299px rgb(255, 255, 255), 870px 260px rgb(255, 255, 255), 899px 531px rgb(255, 255, 255), 580px 1316px rgb(255, 255, 255), 1388px 1343px rgb(255, 255, 255), 151px 61px rgb(255, 255, 255), 516px 641px rgb(255, 255, 255), 617px 1355px rgb(255, 255, 255), 559px 570px rgb(255, 255, 255), 1267px 845px rgb(255, 255, 255), 1490px 68px rgb(255, 255, 255), 1518px 161px rgb(255, 255, 255), 166px 973px rgb(255, 255, 255), 789px 424px rgb(255, 255, 255), 614px 48px rgb(255, 255, 255), 97px 571px rgb(255, 255, 255), 730px 273px rgb(255, 255, 255), 872px 1404px rgb(255, 255, 255), 998px 1166px rgb(255, 255, 255), 1189px 1543px rgb(255, 255, 255), 747px 1538px rgb(255, 255, 255), 356px 1194px rgb(255, 255, 255), 1747px 270px rgb(255, 255, 255), 84px 97px rgb(255, 255, 255), 719px 1712px rgb(255, 255, 255), 322px 1091px rgb(255, 255, 255), 945px 1646px rgb(255, 255, 255), 970px 643px rgb(255, 255, 255), 1506px 1546px rgb(255, 255, 255), 232px 307px rgb(255, 255, 255), 1557px 744px rgb(255, 255, 255), 512px 309px rgb(255, 255, 255), 383px 1227px rgb(255, 255, 255), 1035px 450px rgb(255, 255, 255), 1091px 326px rgb(255, 255, 255), 1600px 1528px rgb(255, 255, 255), 214px 70px rgb(255, 255, 255), 1151px 602px rgb(255, 255, 255), 1414px 1082px rgb(255, 255, 255), 1687px 467px rgb(255, 255, 255), 73px 952px rgb(255, 255, 255), 1785px 1680px rgb(255, 255, 255), 391px 1412px rgb(255, 255, 255), 397px 589px rgb(255, 255, 255), 1671px 663px rgb(255, 255, 255), 922px 270px rgb(255, 255, 255), 3px 1371px rgb(255, 255, 255), 883px 976px rgb(255, 255, 255), 606px 1597px rgb(255, 255, 255), 1673px 585px rgb(255, 255, 255), 817px 762px rgb(255, 255, 255), 952px 1012px rgb(255, 255, 255), 592px 771px rgb(255, 255, 255), 28px 1291px rgb(255, 255, 255), 705px 250px rgb(255, 255, 255), 288px 1386px rgb(255, 255, 255), 1294px 733px rgb(255, 255, 255), 393px 1022px rgb(255, 255, 255), 1557px 1182px rgb(255, 255, 255), 834px 543px rgb(255, 255, 255), 147px 925px rgb(255, 255, 255), 1642px 1672px rgb(255, 255, 255), 304px 1444px rgb(255, 255, 255), 271px 1462px rgb(255, 255, 255), 902px 658px rgb(255, 255, 255);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.5s;
}

#stars-group-3 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 1322px 1253px rgb(255, 255, 255), 1172px 1442px rgb(255, 255, 255), 49px 501px rgb(255, 255, 255), 1304px 294px rgb(255, 255, 255), 1271px 1708px rgb(255, 255, 255), 37px 1786px rgb(255, 255, 255), 1404px 354px rgb(255, 255, 255), 680px 643px rgb(255, 255, 255), 395px 1302px rgb(255, 255, 255), 245px 455px rgb(255, 255, 255), 367px 878px rgb(255, 255, 255), 1260px 1063px rgb(255, 255, 255), 968px 405px rgb(255, 255, 255), 1443px 721px rgb(255, 255, 255), 478px 656px rgb(255, 255, 255), 43px 1774px rgb(255, 255, 255), 1479px 194px rgb(255, 255, 255), 660px 1148px rgb(255, 255, 255), 34px 352px rgb(255, 255, 255), 1651px 991px rgb(255, 255, 255), 1291px 1089px rgb(255, 255, 255), 1010px 857px rgb(255, 255, 255), 890px 243px rgb(255, 255, 255), 552px 720px rgb(255, 255, 255), 484px 1114px rgb(255, 255, 255), 1150px 676px rgb(255, 255, 255), 1541px 34px rgb(255, 255, 255), 1531px 1692px rgb(255, 255, 255), 1359px 366px rgb(255, 255, 255), 1305px 987px rgb(255, 255, 255), 453px 637px rgb(255, 255, 255), 638px 366px rgb(255, 255, 255), 57px 1557px rgb(255, 255, 255), 438px 309px rgb(255, 255, 255), 1487px 1714px rgb(255, 255, 255), 546px 891px rgb(255, 255, 255), 1319px 1405px rgb(255, 255, 255), 1019px 789px rgb(255, 255, 255), 1680px 12px rgb(255, 255, 255), 1704px 1202px rgb(255, 255, 255), 183px 1444px rgb(255, 255, 255), 71px 724px rgb(255, 255, 255), 136px 1127px rgb(255, 255, 255), 852px 1411px rgb(255, 255, 255), 898px 1017px rgb(255, 255, 255), 1006px 584px rgb(255, 255, 255), 567px 986px rgb(255, 255, 255), 1430px 166px rgb(255, 255, 255), 628px 1235px rgb(255, 255, 255), 1107px 1146px rgb(255, 255, 255), 1238px 1195px rgb(255, 255, 255), 546px 605px rgb(255, 255, 255), 2px 1651px rgb(255, 255, 255), 117px 128px rgb(255, 255, 255), 57px 909px rgb(255, 255, 255), 1325px 1106px rgb(255, 255, 255), 732px 110px rgb(255, 255, 255), 369px 803px rgb(255, 255, 255), 600px 839px rgb(255, 255, 255), 422px 1468px rgb(255, 255, 255), 1676px 150px rgb(255, 255, 255), 460px 225px rgb(255, 255, 255), 1473px 1631px rgb(255, 255, 255), 1640px 364px rgb(255, 255, 255), 1171px 1506px rgb(255, 255, 255), 1410px 1570px rgb(255, 255, 255), 273px 68px rgb(255, 255, 255), 385px 140px rgb(255, 255, 255), 43px 458px rgb(255, 255, 255), 315px 1292px rgb(255, 255, 255), 456px 474px rgb(255, 255, 255), 954px 1577px rgb(255, 255, 255), 915px 447px rgb(255, 255, 255), 1124px 174px rgb(255, 255, 255), 1065px 1498px rgb(255, 255, 255), 1655px 791px rgb(255, 255, 255), 175px 1180px rgb(255, 255, 255), 1191px 1150px rgb(255, 255, 255), 1371px 1646px rgb(255, 255, 255), 1025px 1381px rgb(255, 255, 255), 1357px 965px rgb(255, 255, 255), 1776px 497px rgb(255, 255, 255), 1473px 685px rgb(255, 255, 255), 1368px 1027px rgb(255, 255, 255), 934px 1774px rgb(255, 255, 255), 82px 1525px rgb(255, 255, 255), 984px 305px rgb(255, 255, 255), 317px 1144px rgb(255, 255, 255), 1060px 750px rgb(255, 255, 255), 1211px 861px rgb(255, 255, 255), 1410px 1678px rgb(255, 255, 255), 844px 1176px rgb(255, 255, 255), 86px 1354px rgb(255, 255, 255), 270px 461px rgb(255, 255, 255), 1479px 1300px rgb(255, 255, 255), 1662px 974px rgb(255, 255, 255), 219px 490px rgb(255, 255, 255), 314px 536px rgb(255, 255, 255), 439px 1677px rgb(255, 255, 255), 1320px 203px rgb(255, 255, 255), 718px 545px rgb(255, 255, 255), 532px 1468px rgb(255, 255, 255), 148px 182px rgb(255, 255, 255), 292px 1021px rgb(255, 255, 255), 987px 1655px rgb(255, 255, 255), 1173px 1770px rgb(255, 255, 255), 47px 1578px rgb(255, 255, 255), 1241px 1173px rgb(255, 255, 255), 531px 1301px rgb(255, 255, 255), 1306px 858px rgb(255, 255, 255), 1227px 1231px rgb(255, 255, 255), 1486px 192px rgb(255, 255, 255), 1038px 1369px rgb(255, 255, 255), 1770px 159px rgb(255, 255, 255), 1118px 1008px rgb(255, 255, 255), 1278px 273px rgb(255, 255, 255), 995px 1433px rgb(255, 255, 255), 1212px 1268px rgb(255, 255, 255), 1505px 347px rgb(255, 255, 255), 955px 1034px rgb(255, 255, 255), 562px 747px rgb(255, 255, 255), 182px 1038px rgb(255, 255, 255), 1183px 1748px rgb(255, 255, 255), 376px 1195px rgb(255, 255, 255), 1408px 38px rgb(255, 255, 255), 360px 1154px rgb(255, 255, 255), 359px 1287px rgb(255, 255, 255), 1683px 603px rgb(255, 255, 255), 502px 1509px rgb(255, 255, 255), 1596px 1153px rgb(255, 255, 255), 233px 1650px rgb(255, 255, 255), 269px 671px rgb(255, 255, 255), 752px 40px rgb(255, 255, 255), 560px 1501px rgb(255, 255, 255), 444px 1456px rgb(255, 255, 255), 1728px 964px rgb(255, 255, 255), 1513px 91px rgb(255, 255, 255), 1264px 796px rgb(255, 255, 255), 291px 194px rgb(255, 255, 255), 555px 788px rgb(255, 255, 255), 764px 409px rgb(255, 255, 255), 1243px 1552px rgb(255, 255, 255), 975px 541px rgb(255, 255, 255), 619px 1438px rgb(255, 255, 255), 1409px 699px rgb(255, 255, 255), 386px 420px rgb(255, 255, 255), 1128px 406px rgb(255, 255, 255), 809px 1182px rgb(255, 255, 255), 1146px 97px rgb(255, 255, 255), 570px 58px rgb(255, 255, 255), 1378px 946px rgb(255, 255, 255), 1499px 1329px rgb(255, 255, 255), 580px 1386px rgb(255, 255, 255), 1219px 519px rgb(255, 255, 255), 251px 1598px rgb(255, 255, 255), 1366px 674px rgb(255, 255, 255), 630px 642px rgb(255, 255, 255), 1340px 1572px rgb(255, 255, 255), 620px 426px rgb(255, 255, 255), 1275px 689px rgb(255, 255, 255), 1504px 1152px rgb(255, 255, 255), 625px 1001px rgb(255, 255, 255), 1116px 1744px rgb(255, 255, 255), 695px 1218px rgb(255, 255, 255), 1506px 1573px rgb(255, 255, 255), 45px 1311px rgb(255, 255, 255), 1419px 1314px rgb(255, 255, 255), 335px 653px rgb(255, 255, 255), 336px 1430px rgb(255, 255, 255), 1676px 140px rgb(255, 255, 255), 143px 221px rgb(255, 255, 255), 1336px 1217px rgb(255, 255, 255), 1633px 1335px rgb(255, 255, 255), 1501px 1407px rgb(255, 255, 255), 295px 256px rgb(255, 255, 255), 1425px 790px rgb(255, 255, 255), 1577px 1201px rgb(255, 255, 255), 608px 579px rgb(255, 255, 255), 1518px 959px rgb(255, 255, 255), 1032px 684px rgb(255, 255, 255), 39px 1005px rgb(255, 255, 255), 1739px 1446px rgb(255, 255, 255), 681px 208px rgb(255, 255, 255), 359px 606px rgb(255, 255, 255), 335px 547px rgb(255, 255, 255), 1733px 862px rgb(255, 255, 255), 4px 1368px rgb(255, 255, 255), 527px 934px rgb(255, 255, 255), 1520px 1457px rgb(255, 255, 255), 71px 445px rgb(255, 255, 255), 1691px 119px rgb(255, 255, 255), 1300px 828px rgb(255, 255, 255), 533px 930px rgb(255, 255, 255), 901px 1230px rgb(255, 255, 255), 1502px 501px rgb(255, 255, 255), 729px 1063px rgb(255, 255, 255), 805px 95px rgb(255, 255, 255), 1681px 714px rgb(255, 255, 255), 732px 683px rgb(255, 255, 255), 96px 80px rgb(255, 255, 255);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.8s;
}

#stars-group-4 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 612px 1455px rgb(63, 63, 63), 1548px 518px rgb(63, 63, 63), 1619px 1255px rgb(63, 63, 63), 1501px 668px rgb(63, 63, 63), 527px 316px rgb(63, 63, 63), 442px 590px rgb(63, 63, 63), 928px 192px rgb(63, 63, 63), 760px 995px rgb(63, 63, 63), 828px 843px rgb(63, 63, 63), 756px 975px rgb(63, 63, 63), 285px 164px rgb(63, 63, 63), 1745px 1661px rgb(63, 63, 63), 980px 1132px rgb(63, 63, 63), 1418px 1399px rgb(63, 63, 63), 654px 358px rgb(63, 63, 63), 601px 1139px rgb(63, 63, 63), 62px 471px rgb(63, 63, 63), 549px 174px rgb(63, 63, 63), 1394px 1437px rgb(63, 63, 63), 1609px 351px rgb(63, 63, 63), 1359px 737px rgb(63, 63, 63), 1310px 1199px rgb(63, 63, 63), 1248px 978px rgb(63, 63, 63), 398px 649px rgb(63, 63, 63), 954px 326px rgb(63, 63, 63), 1303px 458px rgb(63, 63, 63), 1560px 97px rgb(63, 63, 63), 1317px 725px rgb(63, 63, 63), 541px 1337px rgb(63, 63, 63), 244px 352px rgb(63, 63, 63), 166px 836px rgb(63, 63, 63), 748px 498px rgb(63, 63, 63), 657px 1436px rgb(63, 63, 63), 601px 1391px rgb(63, 63, 63), 1525px 576px rgb(63, 63, 63), 1706px 1737px rgb(63, 63, 63), 305px 807px rgb(63, 63, 63), 722px 388px rgb(63, 63, 63), 1456px 24px rgb(63, 63, 63), 1498px 738px rgb(63, 63, 63), 182px 1265px rgb(63, 63, 63), 281px 35px rgb(63, 63, 63), 1786px 777px rgb(63, 63, 63), 821px 307px rgb(63, 63, 63), 225px 368px rgb(63, 63, 63), 272px 984px rgb(63, 63, 63), 238px 1510px rgb(63, 63, 63), 97px 158px rgb(63, 63, 63), 623px 491px rgb(63, 63, 63), 1708px 1240px rgb(63, 63, 63), 77px 1463px rgb(63, 63, 63), 454px 678px rgb(63, 63, 63), 1007px 67px rgb(63, 63, 63), 492px 1255px rgb(63, 63, 63), 538px 941px rgb(63, 63, 63), 1456px 1495px rgb(63, 63, 63), 1223px 1379px rgb(63, 63, 63), 1464px 774px rgb(63, 63, 63), 38px 1522px rgb(63, 63, 63), 228px 1539px rgb(63, 63, 63), 770px 944px rgb(63, 63, 63), 915px 230px rgb(63, 63, 63), 725px 1259px rgb(63, 63, 63), 8px 1017px rgb(63, 63, 63), 1227px 789px rgb(63, 63, 63), 456px 1055px rgb(63, 63, 63), 1755px 22px rgb(63, 63, 63), 956px 494px rgb(63, 63, 63), 681px 29px rgb(63, 63, 63), 186px 967px rgb(63, 63, 63), 859px 212px rgb(63, 63, 63), 1791px 354px rgb(63, 63, 63), 318px 87px rgb(63, 63, 63), 1255px 582px rgb(63, 63, 63), 1484px 1291px rgb(63, 63, 63), 1633px 371px rgb(63, 63, 63), 731px 1395px rgb(63, 63, 63), 1411px 168px rgb(63, 63, 63), 1719px 915px rgb(63, 63, 63), 17px 1463px rgb(63, 63, 63), 16px 808px rgb(63, 63, 63), 578px 426px rgb(63, 63, 63), 52px 482px rgb(63, 63, 63), 727px 1500px rgb(63, 63, 63), 1150px 1146px rgb(63, 63, 63), 1709px 1549px rgb(63, 63, 63), 1px 757px rgb(63, 63, 63), 1585px 1614px rgb(63, 63, 63), 35px 948px rgb(63, 63, 63), 626px 509px rgb(63, 63, 63), 590px 1112px rgb(63, 63, 63), 1584px 1345px rgb(63, 63, 63), 128px 166px rgb(63, 63, 63), 1103px 1457px rgb(63, 63, 63), 325px 588px rgb(63, 63, 63), 771px 1466px rgb(63, 63, 63), 1463px 1597px rgb(63, 63, 63), 244px 18px rgb(63, 63, 63), 1013px 1521px rgb(63, 63, 63), 415px 1127px rgb(63, 63, 63), 1006px 789px rgb(63, 63, 63), 1406px 1218px rgb(63, 63, 63), 536px 1136px rgb(63, 63, 63), 393px 850px rgb(63, 63, 63), 892px 1698px rgb(63, 63, 63), 840px 1644px rgb(63, 63, 63), 292px 1183px rgb(63, 63, 63), 278px 377px rgb(63, 63, 63), 678px 1624px rgb(63, 63, 63), 86px 1298px rgb(63, 63, 63), 1381px 877px rgb(63, 63, 63), 694px 768px rgb(63, 63, 63), 529px 1479px rgb(63, 63, 63), 481px 1677px rgb(63, 63, 63), 1032px 1126px rgb(63, 63, 63), 1174px 228px rgb(63, 63, 63), 1513px 1134px rgb(63, 63, 63), 1218px 140px rgb(63, 63, 63), 857px 798px rgb(63, 63, 63), 1262px 606px rgb(63, 63, 63), 736px 239px rgb(63, 63, 63), 154px 721px rgb(63, 63, 63), 1579px 720px rgb(63, 63, 63), 979px 1743px rgb(63, 63, 63), 779px 1735px rgb(63, 63, 63), 1327px 819px rgb(63, 63, 63), 511px 555px rgb(63, 63, 63), 573px 1517px rgb(63, 63, 63), 1690px 1310px rgb(63, 63, 63), 1417px 936px rgb(63, 63, 63), 638px 1345px rgb(63, 63, 63), 1528px 1270px rgb(63, 63, 63), 1739px 1372px rgb(63, 63, 63), 70px 240px rgb(63, 63, 63), 199px 449px rgb(63, 63, 63), 1296px 430px rgb(63, 63, 63), 1457px 140px rgb(63, 63, 63), 510px 548px rgb(63, 63, 63), 283px 1745px rgb(63, 63, 63), 1095px 961px rgb(63, 63, 63), 592px 1428px rgb(63, 63, 63), 823px 527px rgb(63, 63, 63), 169px 462px rgb(63, 63, 63), 1184px 1018px rgb(63, 63, 63), 1711px 1466px rgb(63, 63, 63), 675px 994px rgb(63, 63, 63), 1138px 1258px rgb(63, 63, 63), 687px 815px rgb(63, 63, 63), 1204px 838px rgb(63, 63, 63), 1338px 24px rgb(63, 63, 63), 25px 1619px rgb(63, 63, 63), 325px 734px rgb(63, 63, 63), 1615px 842px rgb(63, 63, 63), 1585px 522px rgb(63, 63, 63), 304px 465px rgb(63, 63, 63), 932px 504px rgb(63, 63, 63), 378px 1279px rgb(63, 63, 63), 779px 8px rgb(63, 63, 63), 913px 827px rgb(63, 63, 63), 43px 959px rgb(63, 63, 63), 1508px 359px rgb(63, 63, 63), 1305px 488px rgb(63, 63, 63), 1451px 1127px rgb(63, 63, 63), 1139px 1529px rgb(63, 63, 63), 599px 1094px rgb(63, 63, 63), 1356px 1330px rgb(63, 63, 63), 1131px 1530px rgb(63, 63, 63), 339px 959px rgb(63, 63, 63), 702px 1357px rgb(63, 63, 63), 1339px 295px rgb(63, 63, 63), 849px 1561px rgb(63, 63, 63), 604px 365px rgb(63, 63, 63), 773px 595px rgb(63, 63, 63), 962px 1182px rgb(63, 63, 63), 476px 601px rgb(63, 63, 63), 1587px 606px rgb(63, 63, 63), 1155px 1478px rgb(63, 63, 63), 153px 759px rgb(63, 63, 63), 959px 35px rgb(63, 63, 63), 293px 798px rgb(63, 63, 63), 715px 763px rgb(63, 63, 63), 486px 712px rgb(63, 63, 63), 847px 944px rgb(63, 63, 63), 1301px 276px rgb(63, 63, 63), 1677px 343px rgb(63, 63, 63), 802px 7px rgb(63, 63, 63), 1567px 10px rgb(63, 63, 63), 1135px 859px rgb(63, 63, 63), 415px 835px rgb(63, 63, 63), 631px 446px rgb(63, 63, 63), 337px 11px rgb(63, 63, 63), 1431px 35px rgb(63, 63, 63), 1749px 1007px rgb(63, 63, 63), 1598px 1011px rgb(63, 63, 63), 623px 1034px rgb(63, 63, 63), 620px 1582px rgb(63, 63, 63), 1107px 1017px rgb(63, 63, 63), 1220px 1765px rgb(63, 63, 63), 1605px 885px rgb(63, 63, 63), 1708px 1309px rgb(63, 63, 63);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 1s;
}

#stars-group-5 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 159px 264px rgb(65, 65, 65), 73px 1144px rgb(65, 65, 65), 1214px 12px rgb(65, 65, 65), 697px 1639px rgb(65, 65, 65), 1571px 820px rgb(65, 65, 65), 635px 1029px rgb(65, 65, 65), 1788px 1110px rgb(65, 65, 65), 755px 1051px rgb(65, 65, 65), 912px 1135px rgb(65, 65, 65), 367px 1797px rgb(65, 65, 65), 1590px 433px rgb(65, 65, 65), 387px 1496px rgb(65, 65, 65), 808px 343px rgb(65, 65, 65), 1143px 738px rgb(65, 65, 65), 1039px 154px rgb(65, 65, 65), 888px 1082px rgb(65, 65, 65), 629px 1009px rgb(65, 65, 65), 346px 919px rgb(65, 65, 65), 1583px 405px rgb(65, 65, 65), 762px 550px rgb(65, 65, 65), 1279px 1574px rgb(65, 65, 65), 1571px 104px rgb(65, 65, 65), 430px 364px rgb(65, 65, 65), 895px 113px rgb(65, 65, 65), 563px 918px rgb(65, 65, 65), 1437px 1083px rgb(65, 65, 65), 595px 1302px rgb(65, 65, 65), 1606px 1318px rgb(65, 65, 65), 1761px 222px rgb(65, 65, 65), 125px 504px rgb(65, 65, 65), 1121px 382px rgb(65, 65, 65), 1048px 223px rgb(65, 65, 65), 1353px 982px rgb(65, 65, 65), 826px 556px rgb(65, 65, 65), 39px 1113px rgb(65, 65, 65), 498px 265px rgb(65, 65, 65), 542px 792px rgb(65, 65, 65), 141px 559px rgb(65, 65, 65), 212px 1229px rgb(65, 65, 65), 950px 952px rgb(65, 65, 65), 1416px 715px rgb(65, 65, 65), 989px 874px rgb(65, 65, 65), 102px 1345px rgb(65, 65, 65), 563px 755px rgb(65, 65, 65), 1599px 1467px rgb(65, 65, 65), 1714px 1175px rgb(65, 65, 65), 1147px 1399px rgb(65, 65, 65), 1711px 1156px rgb(65, 65, 65), 1449px 717px rgb(65, 65, 65), 96px 1225px rgb(65, 65, 65), 1479px 445px rgb(65, 65, 65), 1364px 1062px rgb(65, 65, 65), 1542px 980px rgb(65, 65, 65), 1595px 395px rgb(65, 65, 65), 1001px 721px rgb(65, 65, 65), 612px 492px rgb(65, 65, 65), 486px 206px rgb(65, 65, 65), 21px 1732px rgb(65, 65, 65), 1696px 1556px rgb(65, 65, 65), 1006px 308px rgb(65, 65, 65), 1032px 859px rgb(65, 65, 65), 579px 244px rgb(65, 65, 65), 614px 1350px rgb(65, 65, 65), 211px 1754px rgb(65, 65, 65), 7px 1127px rgb(65, 65, 65), 660px 1442px rgb(65, 65, 65), 194px 1057px rgb(65, 65, 65), 414px 336px rgb(65, 65, 65), 1159px 1244px rgb(65, 65, 65), 1010px 1532px rgb(65, 65, 65), 490px 712px rgb(65, 65, 65), 810px 1557px rgb(65, 65, 65), 1543px 159px rgb(65, 65, 65), 324px 665px rgb(65, 65, 65), 55px 1581px rgb(65, 65, 65), 9px 895px rgb(65, 65, 65), 1401px 1575px rgb(65, 65, 65), 1136px 769px rgb(65, 65, 65), 1427px 1017px rgb(65, 65, 65), 784px 1727px rgb(65, 65, 65), 1755px 1738px rgb(65, 65, 65), 709px 261px rgb(65, 65, 65), 1551px 1265px rgb(65, 65, 65), 1265px 1467px rgb(65, 65, 65), 875px 1283px rgb(65, 65, 65), 1049px 486px rgb(65, 65, 65), 1640px 1618px rgb(65, 65, 65), 537px 128px rgb(65, 65, 65), 462px 239px rgb(65, 65, 65), 801px 1194px rgb(65, 65, 65), 471px 83px rgb(65, 65, 65), 1230px 293px rgb(65, 65, 65), 645px 367px rgb(65, 65, 65), 131px 315px rgb(65, 65, 65), 285px 1589px rgb(65, 65, 65), 950px 1088px rgb(65, 65, 65), 984px 623px rgb(65, 65, 65), 385px 1072px rgb(65, 65, 65), 1540px 35px rgb(65, 65, 65), 864px 841px rgb(65, 65, 65), 1125px 654px rgb(65, 65, 65), 1617px 1024px rgb(65, 65, 65), 1423px 115px rgb(65, 65, 65), 592px 1357px rgb(65, 65, 65), 1612px 381px rgb(65, 65, 65), 700px 37px rgb(65, 65, 65), 668px 227px rgb(65, 65, 65), 531px 402px rgb(65, 65, 65), 515px 199px rgb(65, 65, 65), 725px 235px rgb(65, 65, 65), 520px 1246px rgb(65, 65, 65), 1333px 1649px rgb(65, 65, 65), 12px 1192px rgb(65, 65, 65), 1391px 1397px rgb(65, 65, 65), 791px 638px rgb(65, 65, 65), 1254px 146px rgb(65, 65, 65), 1573px 1778px rgb(65, 65, 65), 1220px 498px rgb(65, 65, 65), 1353px 876px rgb(65, 65, 65), 429px 1335px rgb(65, 65, 65), 1736px 462px rgb(65, 65, 65), 462px 1715px rgb(65, 65, 65), 571px 1554px rgb(65, 65, 65), 1773px 156px rgb(65, 65, 65), 1571px 1758px rgb(65, 65, 65), 781px 1715px rgb(65, 65, 65), 542px 1396px rgb(65, 65, 65), 1407px 327px rgb(65, 65, 65), 123px 451px rgb(65, 65, 65), 41px 201px rgb(65, 65, 65), 607px 958px rgb(65, 65, 65), 222px 976px rgb(65, 65, 65), 617px 1437px rgb(65, 65, 65), 725px 725px rgb(65, 65, 65), 1109px 1254px rgb(65, 65, 65), 384px 907px rgb(65, 65, 65), 1291px 762px rgb(65, 65, 65), 1744px 721px rgb(65, 65, 65), 1509px 1214px rgb(65, 65, 65), 151px 20px rgb(65, 65, 65), 532px 591px rgb(65, 65, 65), 720px 573px rgb(65, 65, 65), 426px 843px rgb(65, 65, 65), 1620px 993px rgb(65, 65, 65), 675px 1492px rgb(65, 65, 65), 1014px 622px rgb(65, 65, 65), 106px 843px rgb(65, 65, 65), 1131px 647px rgb(65, 65, 65), 1719px 145px rgb(65, 65, 65), 273px 641px rgb(65, 65, 65), 624px 1222px rgb(65, 65, 65), 894px 354px rgb(65, 65, 65), 1778px 743px rgb(65, 65, 65), 354px 48px rgb(65, 65, 65), 906px 968px rgb(65, 65, 65), 1696px 573px rgb(65, 65, 65), 1662px 315px rgb(65, 65, 65), 1457px 1471px rgb(65, 65, 65), 1626px 937px rgb(65, 65, 65), 883px 586px rgb(65, 65, 65), 618px 975px rgb(65, 65, 65), 730px 77px rgb(65, 65, 65), 475px 431px rgb(65, 65, 65), 1278px 1185px rgb(65, 65, 65), 1361px 140px rgb(65, 65, 65), 390px 52px rgb(65, 65, 65), 1525px 900px rgb(65, 65, 65), 1273px 172px rgb(65, 65, 65), 1485px 134px rgb(65, 65, 65), 513px 1568px rgb(65, 65, 65), 326px 1731px rgb(65, 65, 65), 423px 661px rgb(65, 65, 65), 1572px 1563px rgb(65, 65, 65), 1724px 1491px rgb(65, 65, 65), 1607px 318px rgb(65, 65, 65), 524px 392px rgb(65, 65, 65), 871px 1641px rgb(65, 65, 65), 1765px 587px rgb(65, 65, 65), 849px 1414px rgb(65, 65, 65), 514px 781px rgb(65, 65, 65), 1625px 897px rgb(65, 65, 65), 896px 1545px rgb(65, 65, 65), 861px 969px rgb(65, 65, 65), 1097px 242px rgb(65, 65, 65), 1312px 1773px rgb(65, 65, 65), 686px 168px rgb(65, 65, 65), 1738px 1100px rgb(65, 65, 65), 1116px 230px rgb(65, 65, 65), 1732px 773px rgb(65, 65, 65), 63px 1523px rgb(65, 65, 65), 490px 468px rgb(65, 65, 65), 991px 1740px rgb(65, 65, 65), 1023px 875px rgb(65, 65, 65), 824px 1671px rgb(65, 65, 65), 1797px 1778px rgb(65, 65, 65), 261px 648px rgb(65, 65, 65), 861px 1128px rgb(65, 65, 65), 304px 205px rgb(65, 65, 65), 1176px 954px rgb(65, 65, 65), 1278px 178px rgb(65, 65, 65);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 1.2s;
}

#stars-group-6 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 1244px 825px rgb(0, 0, 0), 1035px 1615px rgb(0, 0, 0), 1168px 247px rgb(0, 0, 0), 1437px 1103px rgb(0, 0, 0), 1111px 757px rgb(0, 0, 0), 1265px 1688px rgb(0, 0, 0), 1728px 1555px rgb(0, 0, 0), 798px 1136px rgb(0, 0, 0), 374px 1549px rgb(0, 0, 0), 1279px 140px rgb(0, 0, 0), 1208px 1554px rgb(0, 0, 0), 644px 1599px rgb(0, 0, 0), 1472px 1403px rgb(0, 0, 0), 1187px 875px rgb(0, 0, 0), 663px 1662px rgb(0, 0, 0), 918px 927px rgb(0, 0, 0), 1425px 1212px rgb(0, 0, 0), 237px 1348px rgb(0, 0, 0), 552px 769px rgb(0, 0, 0), 992px 1609px rgb(0, 0, 0), 1670px 533px rgb(0, 0, 0), 424px 1469px rgb(0, 0, 0), 1362px 1113px rgb(0, 0, 0), 1451px 808px rgb(0, 0, 0), 517px 1780px rgb(0, 0, 0), 964px 539px rgb(0, 0, 0), 1576px 613px rgb(0, 0, 0), 958px 1395px rgb(0, 0, 0), 1089px 106px rgb(0, 0, 0), 236px 1562px rgb(0, 0, 0), 1059px 1035px rgb(0, 0, 0), 3px 9px rgb(0, 0, 0), 1556px 1290px rgb(0, 0, 0), 1160px 638px rgb(0, 0, 0), 587px 938px rgb(0, 0, 0), 599px 194px rgb(0, 0, 0), 309px 467px rgb(0, 0, 0), 1462px 514px rgb(0, 0, 0), 1458px 84px rgb(0, 0, 0), 522px 1383px rgb(0, 0, 0), 1102px 999px rgb(0, 0, 0), 936px 1122px rgb(0, 0, 0), 1742px 1200px rgb(0, 0, 0), 307px 661px rgb(0, 0, 0), 583px 1106px rgb(0, 0, 0), 97px 980px rgb(0, 0, 0), 1653px 1096px rgb(0, 0, 0), 256px 1609px rgb(0, 0, 0), 83px 1125px rgb(0, 0, 0), 77px 320px rgb(0, 0, 0), 577px 1276px rgb(0, 0, 0), 1010px 1528px rgb(0, 0, 0), 962px 1653px rgb(0, 0, 0), 1366px 826px rgb(0, 0, 0), 1591px 1163px rgb(0, 0, 0), 1798px 1372px rgb(0, 0, 0), 496px 520px rgb(0, 0, 0), 1352px 423px rgb(0, 0, 0), 444px 1349px rgb(0, 0, 0), 1111px 1678px rgb(0, 0, 0), 451px 182px rgb(0, 0, 0), 881px 1369px rgb(0, 0, 0), 87px 158px rgb(0, 0, 0), 1121px 1147px rgb(0, 0, 0), 1531px 1667px rgb(0, 0, 0), 701px 940px rgb(0, 0, 0), 653px 1013px rgb(0, 0, 0), 150px 1406px rgb(0, 0, 0), 200px 185px rgb(0, 0, 0), 51px 704px rgb(0, 0, 0), 172px 334px rgb(0, 0, 0), 277px 1160px rgb(0, 0, 0), 39px 773px rgb(0, 0, 0), 364px 865px rgb(0, 0, 0), 1294px 307px rgb(0, 0, 0), 1759px 945px rgb(0, 0, 0), 897px 817px rgb(0, 0, 0), 309px 432px rgb(0, 0, 0), 816px 275px rgb(0, 0, 0), 391px 1067px rgb(0, 0, 0), 1360px 264px rgb(0, 0, 0), 522px 1447px rgb(0, 0, 0), 171px 903px rgb(0, 0, 0), 20px 76px rgb(0, 0, 0), 875px 1407px rgb(0, 0, 0), 1543px 86px rgb(0, 0, 0), 246px 1442px rgb(0, 0, 0), 543px 1080px rgb(0, 0, 0), 847px 1795px rgb(0, 0, 0), 909px 654px rgb(0, 0, 0), 751px 1581px rgb(0, 0, 0), 159px 1353px rgb(0, 0, 0), 1227px 1767px rgb(0, 0, 0), 373px 703px rgb(0, 0, 0), 789px 617px rgb(0, 0, 0), 316px 1272px rgb(0, 0, 0), 679px 1784px rgb(0, 0, 0), 170px 815px rgb(0, 0, 0), 1474px 1520px rgb(0, 0, 0), 1782px 1395px rgb(0, 0, 0), 631px 205px rgb(0, 0, 0), 81px 1065px rgb(0, 0, 0), 123px 155px rgb(0, 0, 0), 560px 1148px rgb(0, 0, 0), 56px 824px rgb(0, 0, 0), 966px 282px rgb(0, 0, 0), 1435px 545px rgb(0, 0, 0), 1583px 1421px rgb(0, 0, 0), 1397px 964px rgb(0, 0, 0), 588px 381px rgb(0, 0, 0), 1757px 1020px rgb(0, 0, 0), 1322px 1494px rgb(0, 0, 0), 1271px 1397px rgb(0, 0, 0), 1367px 1780px rgb(0, 0, 0), 1052px 1077px rgb(0, 0, 0), 1316px 799px rgb(0, 0, 0), 1017px 924px rgb(0, 0, 0), 788px 282px rgb(0, 0, 0), 1737px 462px rgb(0, 0, 0), 1359px 1702px rgb(0, 0, 0), 1482px 827px rgb(0, 0, 0), 1221px 1526px rgb(0, 0, 0), 501px 374px rgb(0, 0, 0), 573px 111px rgb(0, 0, 0), 830px 836px rgb(0, 0, 0), 728px 1542px rgb(0, 0, 0), 614px 1720px rgb(0, 0, 0), 171px 1076px rgb(0, 0, 0), 1584px 628px rgb(0, 0, 0), 698px 1256px rgb(0, 0, 0), 873px 614px rgb(0, 0, 0), 289px 1719px rgb(0, 0, 0), 178px 389px rgb(0, 0, 0), 1174px 776px rgb(0, 0, 0), 1372px 236px rgb(0, 0, 0), 1783px 1273px rgb(0, 0, 0), 1073px 1532px rgb(0, 0, 0), 1791px 372px rgb(0, 0, 0), 873px 1617px rgb(0, 0, 0), 1274px 515px rgb(0, 0, 0), 1083px 1512px rgb(0, 0, 0), 1228px 1231px rgb(0, 0, 0), 1450px 964px rgb(0, 0, 0), 823px 1392px rgb(0, 0, 0), 248px 46px rgb(0, 0, 0), 270px 1345px rgb(0, 0, 0), 848px 897px rgb(0, 0, 0), 1270px 1711px rgb(0, 0, 0), 376px 10px rgb(0, 0, 0), 855px 1523px rgb(0, 0, 0), 577px 1650px rgb(0, 0, 0), 1632px 152px rgb(0, 0, 0), 1606px 502px rgb(0, 0, 0), 1622px 454px rgb(0, 0, 0), 1136px 726px rgb(0, 0, 0), 1786px 1725px rgb(0, 0, 0), 1541px 1549px rgb(0, 0, 0), 1718px 329px rgb(0, 0, 0), 763px 1130px rgb(0, 0, 0), 979px 42px rgb(0, 0, 0), 60px 492px rgb(0, 0, 0), 1749px 446px rgb(0, 0, 0), 1195px 385px rgb(0, 0, 0), 1585px 120px rgb(0, 0, 0), 436px 1501px rgb(0, 0, 0), 587px 1653px rgb(0, 0, 0), 985px 867px rgb(0, 0, 0), 1271px 1278px rgb(0, 0, 0), 495px 436px rgb(0, 0, 0), 1703px 154px rgb(0, 0, 0), 710px 1194px rgb(0, 0, 0), 601px 33px rgb(0, 0, 0), 1273px 1054px rgb(0, 0, 0), 683px 1709px rgb(0, 0, 0), 1466px 1514px rgb(0, 0, 0), 1245px 1621px rgb(0, 0, 0), 884px 95px rgb(0, 0, 0), 1540px 747px rgb(0, 0, 0), 1578px 886px rgb(0, 0, 0), 1239px 1698px rgb(0, 0, 0), 1769px 1573px rgb(0, 0, 0), 841px 152px rgb(0, 0, 0), 1678px 1591px rgb(0, 0, 0), 761px 1265px rgb(0, 0, 0), 189px 1469px rgb(0, 0, 0), 1374px 914px rgb(0, 0, 0), 849px 1007px rgb(0, 0, 0), 1774px 758px rgb(0, 0, 0), 1335px 1496px rgb(0, 0, 0), 1299px 189px rgb(0, 0, 0), 1530px 1245px rgb(0, 0, 0), 420px 897px rgb(0, 0, 0), 97px 1185px rgb(0, 0, 0), 1600px 217px rgb(0, 0, 0), 171px 587px rgb(0, 0, 0), 594px 1492px rgb(0, 0, 0), 377px 400px rgb(0, 0, 0), 505px 1708px rgb(0, 0, 0), 637px 1097px rgb(0, 0, 0), 1530px 1212px rgb(0, 0, 0);
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 1.5s;
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}

/*# sourceMappingURL=index.css.map */
