*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  transition-duration: 300ms;
}

:root {
  scroll-behavior: smooth;
  vertical-align: baseline;
  background-color: black;
  /* font for landing page main/second. heading */
  --ff-mainHeading: "Poppins", sans-serif;
  --ff-subHeading: "Sathu", sans-serif;
  /* main font family */
  font-family: "Times New Roman", sans-serif;
  /* clamp resizes according to window size */
  --fs-mainHeading: clamp(1.5rem, 7vw, 7rem);
  --fs-subHeading: clamp(1rem, 3vw, 4rem);
  /* three colors for the website */
  /* https://color.adobe.com/create/color-wheel */
  --ff-mainColor: #000000;
  --ff-secondaryColor: whitesmoke;
  --ff-tertiaryColor: #c4c4c4;
  /*
  --ff-mainColor: #ffffff;
  --ff-secondaryColor: #2f2f2f;
  --ff-tertiaryColor: #c4c4c4;

   */
}

/* --<>-- --<>-- --<>-- --<>-- --<>-- --<>-- */
/* to use @mixing functions type */
/* @include NAMEofFunction(parameter if necessary); */
nav {
  display: flex;
  position: fixed;
  height: 50px;
  top: 70px;
  width: 96%;
  left: 2%;
  right: 2%;
  /*
    display: flex;
  position: fixed;
  height: 50px;
  top: 30px;
  width: 60%;
  left: 20%;
   */
  column-gap: 1rem;
}
nav form {
  display: inline-flex;
  box-shadow: 2px 2px 0px 0px darkgrey;
}
nav form button {
  min-width: 30px;
}
nav form input {
  padding: 0 0.5rem;
  width: 100%;
  height: 100%;
}
nav form input[type=search]::-ms-clear,
nav form input[type=search]::-ms-reveal,
nav form input[type=search]::-webkit-search-decoration,
nav form input[type=search]::-webkit-search-cancel-button,
nav form input[type=search]::-webkit-search-results-button,
nav form input[type=search]::-webkit-search-results-decoration {
  display: none;
  width: 0;
  height: 0;
}
nav .menu {
  display: inline-flex;
  justify-content: space-around;
  box-shadow: 2px 2px 0px 0px darkgrey;
  background-color: var(--ff-secondaryColor);
  list-style: none;
  text-align: center;
  padding-left: 10rem;
  width: 100%;
  height: 100%;
}
nav .menu li:first-of-type:not(.dropdown-menu > li:first-of-type) {
  width: 0%;
  margin-right: 18rem;
}
nav .menu li:last-of-type:not(.dropdown-menu > li:last-of-type) {
  margin-right: 15rem;
}
nav .menu li {
  width: 100%;
  background-color: var(--ff-secondaryColor);
}
nav .menu li:active, nav .menu li:hover {
  background-color: var(--ff-tertiaryColor);
  padding: 0 1rem;
}
nav .menu li:active a, nav .menu li:hover a {
  color: var(--ff-mainColor);
}
nav .menu li a {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--ff-mainColor);
}
nav .menu li a .logo {
  width: 120px;
  height: 120px;
}

.dropdown-toggle:active > .dropdown-menu, .dropdown-toggle:focus > .dropdown-menu, .dropdown-toggle:hover > .dropdown-menu {
  display: inline-flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 1rem;
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
}
.dropdown-toggle:active > .dropdown-menu a, .dropdown-toggle:focus > .dropdown-menu a, .dropdown-toggle:hover > .dropdown-menu a {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--ff-mainColor);
  padding: 0.7rem 0rem;
}
.dropdown-toggle:active > .dropdown-menu a:hover, .dropdown-toggle:focus > .dropdown-menu a:hover, .dropdown-toggle:hover > .dropdown-menu a:hover {
  color: black;
}
.dropdown-toggle .dropdown-menu {
  display: none;
}

/*# sourceMappingURL=navBar.css.map */
